{{- $publisher := dict
  "@type" "Organization"
  "name" .Site.Title
  "url" .Site.BaseURL
  "logo" (dict
    "@type" "ImageObject"
    "url" (absURL "img/favicon/android-chrome-512x512.png")
  )
-}}
{{- $blogPosting := dict
  "@type" "BlogPosting"
  "headline" .Title
  "description" .Description
  "url" .Permalink
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "author" (dict "@type" "Person" "name" .Params.author)
  "publisher" $publisher
  "wordCount" .WordCount
  "timeRequired" (printf "PT%dM" .ReadingTime)
  "articleSection" "Blog"
  "inLanguage" "en"
-}}
{{- with .Resources.Get .Params.thumbnail -}}
  {{- $blogPosting = merge $blogPosting (dict "image" .Permalink) -}}
{{- end -}}
{{- $videos := partial "structured-data/videos.html" . -}}
{{- with $videos -}}
  {{- $blogPosting = merge $blogPosting (dict "video" .) -}}
{{- end -}}
{{- $breadcrumbs := dict
  "@type" "BreadcrumbList"
  "itemListElement" (slice
    (dict
      "@type" "ListItem"
      "position" 1
      "name" "Home"
      "item" .Site.BaseURL
    )
    (dict
      "@type" "ListItem"
      "position" 2
      "name" "Blog"
      "item" .CurrentSection.Permalink
    )
    (dict
      "@type" "ListItem"
      "position" 3
      "name" .Title
    )
  )
-}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@graph" (slice $blogPosting $breadcrumbs)
-}}
<script type="application/ld+json">
  {{- $schema | jsonify | safeJS -}}
</script>
