{{- define "styles" }}
  {{- partial "styles.html" "fractional-cto" }}
{{- end }}

{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}
{{- define "main" }}
  <div class="page fractional-cto">
    <div class="container fractional-cto--back">
      <a
        class="article--back-link"
        data-back-link
        href="/services/"
      >
        {{ (resources.Get "img/ico-arrow-left.svg").Content | strings.TrimSpace | safeHTML }}
        Back
      </a>
    </div>
    <article class="container article--content fractional-cto--content">
      {{ .Content }}
    </article>
  </div>

  <script type="module">
    const backLink = document.querySelector('[data-back-link]');
    const referrer = document.referrer && new URL(document.referrer);

    if (
      backLink
      && referrer
      && referrer.origin === window.location.origin
      && referrer.pathname !== window.location.pathname
    ) {
      backLink.href = referrer.href;
    }
  </script>
{{- end }}
