{{/*
  The maximum article container width is set to 738px with 1.25rem padding
  (see the ".narrow-container" class), which results in the effective maximum
  image width of 698px.

  For pages in the /blog/ section we also add a magnification link.
*/}}
{{- $makeLink := hasPrefix .Page.Path "/blog/" }}
{{- $previewWidth := 698 }}
{{- $img := or
  (.Page.Resources.Get .Destination)
  (.Page.CurrentSection.Resources.Get .Destination)
  (resources.Get .Destination)
}}
{{- $width := "" }}
{{- $height := "" }}
{{- if ne $img.MediaType.SubType "svg" }}
  {{- $previewWidth2x := mul $previewWidth 2 }}
  {{- $previewWidth4x := mul $previewWidth 4 }}
  {{- if gt $img.Width $previewWidth4x }}
    {{- $img = $img.Resize (printf "%dx" $previewWidth4x) }}
  {{- end }}
  {{- $width = math.Min $img.Width $previewWidth2x }}
  {{- $height = int (mul $img.Height (div (float $width) $img.Width)) }}
{{- end }}
{{- if $makeLink }}
<a href="{{ .Destination }}" data-pswp-width="{{ $width }}" data-pswp-height="{{ $height }}">
{{- end }}
{{- partial "image.html" (dict
  "Img" $img
  "Alt" .Text
  "Width" $previewWidth
  ) }}
{{- if $makeLink }}
</a>
{{- end }}
