@import './vars';
@import './mixins';

.about {
  &--hero {
    background-color: #3f13a8;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &::after {
      background: linear-gradient(
        335deg,
        rgba(94, 0, 169, 0.6) 10%,
        rgba(223, 119, 119, 0) 60%
      );
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.6;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
    }

    &-body {
      max-width: $container-default-max-width;
      padding: 0 1.25rem;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      width: 100%;
      z-index: 10;
    }

    &-tagline {
      color: $white;
      @include media-up(xl) {
        font-size: $font-size-bigger;
      }
    }

    &-title {
      color: $white;
      margin-top: 1rem;
      @include media-up(xl) {
        margin-top: 2rem;
      }
    }

    &-title-wrap {
      overflow: hidden;
    }

    &-video {
      aspect-ratio: 166 / 71;
      flex-shrink: 0;
      margin-bottom: 60px;
      max-width: 1140px;
      min-height: 440px;
      object-fit: cover;
      pointer-events: none;
      position: relative;
      user-select: none;
      width: 300%;
      z-index: 1;
      mask-image: linear-gradient(to top, transparent, black 4rem),
        linear-gradient(to right, transparent, black 4rem),
        linear-gradient(to left, transparent, black 4rem);
      mask-composite: intersect;
      @include media-up(lg) {
        margin-bottom: 140px;
        margin-top: -3rem;
        max-width: 1660px;
        width: 120%;
      }
    }
  }

  &--tech-slider {
    bottom: 2rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 5;
    @include media-up(lg) {
      bottom: 4rem;
    }

    &-wrapper {
      --gap: 3rem;
      display: flex;
      gap: var(--gap);
      overflow: hidden;
      position: relative;
      user-select: none;
      @include media-up(lg) {
        --gap: 4rem;
      }
      @include media-up(xl) {
        --gap: 5rem;
      }
    }

    &-list {
      align-items: center;
      animation: move 60s linear infinite;
      display: flex;
      flex-shrink: 0;
      gap: var(--gap);
      justify-content: space-around;
      min-width: 100%;
      transform: translate3d(0, 0, 0);
      will-change: transform;
    }

    &-item {
      flex: 0 0 auto;
    }
  }

  &--title {
    color: $primary-violet;
    margin-top: 3rem;
    @include media-up(lg) {
      margin-top: 4rem;
    }
    @include media-up(xl) {
      margin-top: 6rem;
    }
  }

  &--about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    @include media-up(md) {
      flex-direction: row;
      gap: 3rem;
    }
    @include media-up(lg) {
      gap: 4rem;
      margin-top: 2rem;
    }
    @include media-up(xl) {
      gap: 5rem;
      margin-top: 3rem;
    }
  }

  &--about-item {
    display: flex;
    flex-direction: column;
    @include media-up(md) {
      width: 50%;
    }

    & > p:last-child {
      margin-top: auto;
      > a {
        @extend .btn;
        @extend .btn-outline-violet;
        @extend .btn-small;
        margin-top: 1.5rem;
        @include media-up(xl) {
          margin-top: 2rem;
        }
      }
    }

    h3 {
      color: $font-color-dark;
      font-size: $font-size-bigger;
      font-weight: $font-weight-bold;
      margin-bottom: 0.5rem;
    }
  }

  &--what-we-do-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 100%;
    @include media-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include media-up(lg) {
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      margin-top: 3.5rem;
    }
  }

  &--what-we-do-item {
    border: 1px solid $border-color-default;
    margin-top: -1px;
    padding: 1.5rem;
    @include media-up(md) {
      margin-left: -1px;
      width: 50%;
    }
    @include media-up(lg) {
      padding: 2rem;
    }
    @include media-up(xl) {
      padding: 3rem;
    }

    &-title {
      color: $font-color-dark;
      margin-top: 1.5rem;
      @include media-up(lg) {
        margin-top: 2rem;
      }
      @include media-up(xl) {
        margin-top: 3rem;
      }
    }

    &-image {
      display: block;
      height: auto;
      margin: auto;
      max-width: 300px;
      width: 100%;
    }

    &-text {
      margin-top: 0.5rem;
      @include media-up(lg) {
        margin-top: 1rem;
      }
      @include media-up(xl) {
        font-size: $font-size-bigger;
        margin-top: 1.5rem;
      }
    }
  }

  &--action {
    display: flex;
    margin-top: 2rem;
    position: relative;
    @include media-up(md) {
      margin-top: 3rem;
    }
    @include media-up(lg) {
      margin-top: 4rem;
    }
    @include media-up(xl) {
      margin-top: 6rem;
    }

    &-background {
      height: auto;
      margin: 0 auto;
      max-width: 100%;
      pointer-events: none;
      user-select: none;
    }

    &-button {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--testimonials-wrapper {
    display: grid;
    gap: 1.5rem 2rem;
    margin-top: 1.5rem;
    @include media-up(md) {
      gap: 3rem 2.5rem;
    }
    @include media-up(lg) {
      gap: 3rem 4rem;
      grid-template-columns: 1fr 1fr;
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      gap: 3.5rem 5rem;
      margin-top: 3.5rem;
    }
  }

  &--testimonials-item {
    border-top: 1px solid $border-color-default;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    @include media-up(md) {
      padding-top: 2.5rem;
    }
    @include media-up(xl) {
      gap: 0.5rem;
      padding-top: 3.5rem;
    }
  }

  &--testimonials-author {
    align-items: center;
    display: flex;
    gap: 1rem;
    @include media-up(xl) {
      gap: 1.5rem;
    }

    &-image {
      border-radius: 50%;
      display: flex;
      height: auto;
      margin-top: 0.25rem;
      width: 2.75rem;
    }

    &-body {
      line-height: 1.8;
    }

    &-name {
      color: $font-color-dark;

      > svg {
        margin-bottom: 0.25rem;
        margin-left: 0.375rem;
      }
    }
  }

  &--testimonials-body {
    @include media-up(sm) {
      padding-left: 3.75rem;
    }
    @include media-up(xl) {
      font-size: $font-size-bigger;
      padding-left: 4.25rem;
    }
  }

  &--clutch {
    margin: 2rem 0 1rem;

    @include media-up(lg) {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin: 3rem 0 0;
    }
  }

  &--clutch-link {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
  }

  &--clutch-widget {
    display: inline-block;
    max-width: 215px;
    vertical-align: middle;
  }

  &--team-slider-wrapper {
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  &--team-slider.swiper {
    // Increase specificity over .swiper to override it.
    --swiper-theme-color: #{$primary-orange};
    margin-top: 1.5rem;
    max-width: $container-default-max-width;
    overflow: visible;
    width: 100%;
    @include media-up(lg) {
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      margin-top: 3.5rem;
    }

    img {
      border-radius: $border-radius-default;
      height: auto;
      max-width: 100%;
    }
  }

  &--team-about {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
    @include media-up(lg) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      margin-top: 3.5rem;
    }

    &-text {
      @include media-up(lg) {
        flex: 0 0 auto;
        width: 65%;
      }
      @include media-up(xl) {
        font-size: $font-size-bigger;
      }
    }

    &-social {
      flex: 0 0 auto;
      width: 25%;
    }

    &-social-link {
      color: $primary-violet;
      white-space: nowrap;

      &:hover {
        color: $primary-orange;
      }

      > svg {
        margin-bottom: 0.125rem;
        margin-right: 0.5rem;
      }
    }
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.teamplify-link {
  @include transition(color);
  background-size: 0 1px;
  color: $primary-orange;
  font-weight: $font-weight-semi-bold;
  white-space: nowrap;

  svg {
    margin-bottom: 0.125rem;
    margin-right: 0.375rem;
  }

  &:hover,
  &:focus-visible {
    color: lighten($primary-orange, 10%);
  }

  &:hover,
  &:focus-visible {
   svg {
      animation: birdAnimation 0.5s linear infinite normal forwards;
    }
  }
}

@keyframes birdAnimation {
  0% {
    animation-timing-function: cubic-bezier(0, 0, 0, 0.995);
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -3px);
  }

  100% {
    animation-timing-function: cubic-bezier(0, 0, 0, 0.995);
    transform: translate(0, 0);
  }
}
