.about {
  &--hero {
    background-color: #3f13a8;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &::after {
      background: linear-gradient(
        335deg,
        rgba(94, 0, 169, 0.6) 10%,
        rgba(223, 119, 119, 0) 60%
      );
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.6;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
    }

    &-body {
      bottom: 45%;
      max-width: $container-default-max-width;
      padding: 0 1.25rem;
      position: absolute;
      width: 100%;
      z-index: 10;
      @include media-up(md) {
        bottom: 40%;
      }
    }

    &-tagline {
      color: $white;
      @include media-up(xl) {
        font-size: $font-size-bigger;
      }
    }

    &-title {
      color: $white;
      margin-top: 1rem;
      @include media-up(xl) {
        margin-top: 2rem;
      }
    }

    &-video {
      aspect-ratio: 166 / 71;
      flex-shrink: 0;
      margin-bottom: 100px;
      mask-composite: intersect;
      mask-image: linear-gradient(to top, transparent, black 4rem), linear-gradient(to right, transparent, black 4rem), linear-gradient(to left, transparent, black 4rem);
      max-width: 1140px;
      min-height: 440px;
      object-fit: cover;
      pointer-events: none;
      position: relative;
      transform: scaleX(-1);
      user-select: none;
      width: 300%;
      z-index: 1;
      @include media-up(lg) {
        margin-bottom: 140px;
        margin-right: -5rem;
        margin-top: -3rem;
        max-width: 1660px;
        width: 120%;
      }
    }

    &-footer {
      align-items: flex-start;
      bottom: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: $container-default-max-width;
      padding-inline: 1.25rem;
      position: absolute;
      width: 100%;
      z-index: 10;
      @include media-up(md) {
        align-items: center;
        bottom: 2.5rem;
        flex-direction: row;
        gap: 2rem;
      }
      @include media-up(lg) {
        bottom: 3.5rem;
      }
      @include media-up(xl) {
        bottom: 5rem;
      }
    }

    &-cta {
      margin-right: auto;
    }

    &-loved {
      align-items: center;
      display: flex;
      gap: 0.75rem;

      &-avatars {
        display: flex;

        img {
          border-radius: 50%;
          border: 2px solid $primary-violet;
          display: block;
          height: auto;
          margin-left: -1rem;
          max-width: 2.5rem;

          &:first-child {
            margin-left: unset;
          }
        }
      }

      &-text {
        color: $white;
        font-size: $font-size-smaller;
        line-height: 1.5;
      }
    }

    &-clutch {
      align-items: center;
      display: flex;
      gap: 0.75rem;

      &-text {
        align-items: flex-start;
        color: $white;
        display: flex;
        flex-direction: column;
        font-size: $font-size-smaller;
        gap: 0.125rem;
        line-height: 1.5;

        img {
          display: block;
          max-height: 1rem;
          width: auto;
        }
      }
    }
  }

  &--title {
    color: $primary-violet;
    margin-top: 3rem;
    @include media-up(lg) {
      margin-top: 4rem;
    }
    @include media-up(xl) {
      margin-top: 6rem;
    }
  }

  &--hire-us {
    align-items: flex-start;
    display: grid;
    gap: 2rem;
    margin-top: 1rem;
    @include media-up(lg) {
      grid-template-columns: 7fr 5fr;
      gap: 4rem;
      margin-top: 2rem;
    }
    @include media-up(xl) {
      gap: 5rem;
      margin-top: 3rem;
    }

    &-list ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-top: 1px solid $border-color-default;
        color: $font-color-dark;
        padding-block: 1.5rem;
        @include media-up(lg) {
          font-size: $font-size-bigger;
          padding-block: 2rem;
        }
        @include media-up(xl) {
          font-size: 1.375rem;
          padding-block: 2.5rem;
        }

        &:last-child {
          border-bottom: 1px solid $border-color-default;
        }
      }
    }

    &-book {
      align-items: flex-start;
      background-color: $background-darker;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
      @include media-up(lg) {
        gap: 1.5rem;
        padding: 2rem;
      }
      @include media-up(xl) {
        padding: 2.5rem;
      }
    }
  }

  &--what-we-do-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 100%;
    @include media-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include media-up(lg) {
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      margin-top: 3.5rem;
    }
  }

  &--what-we-do-item {
    border: 1px solid $border-color-default;
    margin-top: -1px;
    padding: 1.5rem;
    @include media-up(md) {
      margin-left: -1px;
      width: 50%;
    }
    @include media-up(lg) {
      padding: 2rem;
    }
    @include media-up(xl) {
      padding: 3rem;
    }

    &-title {
      color: $font-color-dark;
      margin-top: 1.5rem;
      @include media-up(lg) {
        margin-top: 2rem;
      }
      @include media-up(xl) {
        margin-top: 3rem;
      }
    }

    &-image {
      display: block;
      height: auto;
      margin: auto;
      max-width: 300px;
      width: 100%;
    }

    &-text {
      margin-top: 0.5rem;
      @include media-up(lg) {
        margin-top: 1rem;
      }
      @include media-up(xl) {
        margin-top: 1.5rem;
      }
    }
  }

  &--action {
    display: flex;
    margin-top: 2rem;
    position: relative;
    @include media-up(md) {
      margin-top: 3rem;
    }
    @include media-up(lg) {
      margin-top: 4rem;
    }
    @include media-up(xl) {
      margin-top: 6rem;
    }

    &-background {
      height: auto;
      margin: 0 auto;
      max-width: 100%;
      pointer-events: none;
      user-select: none;
    }

    &-button {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--testimonials-wrapper {
    display: grid;
    gap: 1.5rem 2rem;
    margin-top: 1.5rem;
    @include media-up(md) {
      gap: 3rem 2.5rem;
    }
    @include media-up(lg) {
      gap: 3rem 4rem;
      grid-template-columns: 1fr 1fr;
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      gap: 3.5rem 5rem;
      margin-top: 3.5rem;
    }
  }

  &--testimonials-item {
    align-items: flex-start;
    border-top: 1px solid $border-color-default;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    @include media-up(md) {
      padding-top: 2.5rem;
    }
    @include media-up(xl) {
      padding-top: 3.5rem;
    }

    &--clutch {
      @include media-up(sm) {
        align-items: center;
        flex-direction: row;
        gap: 2rem;
      }
    }
  }

  &--testimonials-body {
    @include media-up(sm) {
      padding-left: 5.5rem;
    }
    @include media-up(xl) {
      font-size: $font-size-bigger;
      padding-left: 6rem;
    }
  }

  &--clutch-winner {
    display: block;

    img {
      height: auto;
      max-width: 140px;
      width: 100%;
    }
  }

  &--clutch-reviews {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &--clutch-link {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;

    a {
      @include link-underline;
    }
  }

  &--clutch-widget {
    display: inline-block;
    max-width: 215px;
    vertical-align: middle;
  }

  &--team-slider-wrapper {
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  &--team-slider.swiper {
    // Increase specificity over .swiper to override it.
    --swiper-theme-color: #{$primary-orange};
    margin-top: 1.5rem;
    max-width: $container-default-max-width;
    overflow: visible;
    width: 100%;
    @include media-up(lg) {
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      margin-top: 3.5rem;
    }

    img {
      border-radius: $border-radius-default;
      height: auto;
      max-width: 100%;
    }
  }

  &--team-about {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;
    @include media-up(lg) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      margin-top: 3.5rem;
    }

    &-text {
      @include media-up(lg) {
        flex: 0 0 auto;
        width: 65%;
      }
      @include media-up(xl) {
        font-size: $font-size-bigger;
      }

      a {
        @include link-underline;
      }
    }

    &-social {
      flex: 0 0 auto;
      width: 25%;
    }

    &-social-link {
      color: $primary-violet;
      white-space: nowrap;

      &:hover {
        color: $primary-orange;
      }

      > svg {
        margin-bottom: 0.125rem;
        margin-right: 0.5rem;
      }
    }
  }
}

.teamplify-link {
  @include transition(color);
  background-size: 0 1px;
  color: $primary-orange;
  font-weight: $font-weight-semi-bold;
  white-space: nowrap;

  svg {
    margin-bottom: 0.125rem;
    margin-right: 0.375rem;
  }

  &:hover,
  &:focus-visible {
    color: lighten($primary-orange, 10%);
  }

  &:hover,
  &:focus-visible {
   svg {
      animation: birdAnimation 0.5s linear infinite normal forwards;
    }
  }
}

@keyframes birdAnimation {
  0% {
    animation-timing-function: cubic-bezier(0, 0, 0, 0.995);
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -3px);
  }

  100% {
    animation-timing-function: cubic-bezier(0, 0, 0, 0.995);
    transform: translate(0, 0);
  }
}
