.btn {
  @include transition(background-color, color, border);
  align-items: center;
  appearance: none;
  background-color: $dark-orange;
  border: 2px solid transparent;
  border-radius: 2rem;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-size: $font-size-bigger;
  font-weight: $font-weight-semi-bold;
  gap: 1rem;
  line-height: 1;
  justify-content: center;
  outline: none;
  padding: 1rem 2rem 1.125rem;
  text-align: center;
  white-space: nowrap;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover,
  &:focus-visible {
    background-color: lighten($dark-orange, 10%);
    color: $white;
  }

  &-big {
    padding: 1.125rem 2.5rem 1.0625rem;
  }

  &-small {
    padding: 0.875rem 2.25rem 0.875rem;
    @media (max-width: 370px) {
      padding-inline: 1rem;
      min-width: 100%;
    }
  }

  &-outline-violet {
    background-color: $white;
    border: 2px solid $primary-violet;
    color: $primary-violet;

    &:hover,
    &:focus-visible {
      background-color: $white;
      border-color: $primary-orange;
      color: $primary-orange;
    }
  }

  &-with-arrow {
    gap: 1rem;

    img,
    svg {
      margin-top: -1px; // fix icon position
      overflow: visible;
    }

    .arrow-head {
      @include transition(transform 0.25s);
      transform: translateX(0);
    }

    .arrow-body {
      @include transition(transform 0.25s, opacity 0.2s);
      opacity: 0;
      transform: scaleX(1);
      transform-origin: left center;
    }

    &:hover,
    &:focus-visible {
      .arrow-head {
        transform: translateX(6px);
      }
    }

    &:hover,
    &:focus-visible {
      .arrow-body {
        opacity: 1;
        transform: scaleX(2);
      }
    }
  }
}
