$header-menu-open-duration: 0.3s;

.header {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  @include media-up(lg) {
    top: 1rem;
  }
  @include media-up(xl) {
    top: 2rem;
  }

  &--wrapper {
    align-items: center;
    display: flex;
    height: $header-height-mobile;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $container-default-max-width;
    padding: 0 1.25rem;
    width: 100%;
  }

  &--logo {
    position: relative;
    z-index: 200;
  }

  &--menu {
    background: linear-gradient(0deg, #5e00a9, #3d0f9a);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 150;
    clip-path: circle(0px at calc(100% - 36px) 36px);
    transition: clip-path 0.2s ease-out;

    @include media-up(lg) {
      background: none;
      bottom: auto;
      clip-path: none !important;
      position: static;
    }

    &.is-open {
      clip-path: circle((1000px * 2 + 200) at calc(100% - 36px) 36px);
      transition: clip-path $header-menu-open-duration ease-in;
    }
  }

  &--menu-inner {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;

    @include media-up(lg) {
      opacity: 1 !important;
      transition: 0s;
      align-items: center;
      flex-direction: row;
    }
  }

  &--menu.is-open &--menu-inner {
    opacity: 1;
    transition-delay: $header-menu-open-duration;
  }

  &--menu-items {
    align-items: flex-start;
    border-bottom: 1px solid rgba($white, 0.1);
    border-top: 1px solid rgba($white, 0.1);
    display: flex;
    flex-direction: column;
    margin-top: $header-height-mobile;
    padding: 1.75rem 1.25rem 2rem;
    @include media-up(lg) {
      border: 0;
      flex-direction: row;
      gap: 1.75rem;
      margin-top: 0;
      opacity: 1 !important;
      padding: 0;
    }
    @include media-up(xl) {
      gap: 2rem;
    }
  }

  &--menu-item {
    appearance: none;
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.375rem;
    padding: 0.125rem 0;
    position: relative;
    @include media-up(lg) {
      font-size: $font-size-smaller;
      padding: 0;
    }
    @include media-up(xl) {
      font-size: $font-size-default;
    }

    &::after {
      @include transition(transform 0.4s cubic-bezier(0, 0.5, 0.5, 1));
      background-color: $white;
      bottom: 0.5rem;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      transform: scaleX(0);
      transform-origin: left center;
      @include media-up(lg) {
        bottom: 0.25rem;
      }
    }

    &:hover,
    &.is-active {
      color: $white;

      &::after {
        transform: none;
      }
    }
  }

  &--button-wrapper {
    margin-left: 1.25rem;
    margin-top: 2rem;
    @include media-up(lg) {
      margin-left: 2.5rem;
      margin-top: 0;
      opacity: 1 !important;
    }
  }

  &--button {
    @include transition(background-color 0.5s);
    align-self: flex-start;
    appearance: none;
    background-color: $white;
    border-radius: 2rem;
    color: $primary-violet;
    cursor: pointer;
    display: inline-flex;
    font-weight: $font-weight-default;
    gap: 0.5rem;
    line-height: 1;
    outline: none;
    padding: 1rem 1.5rem 0.8125rem;
    position: relative;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
    @include media-up(lg) {
      font-size: 1rem;
    }

    &:hover,
    &:focus-visible {
      background-color: lighten($primary-violet, 55%);
    }

    img,
    svg {
      margin-top: -1px;
    }
  }

  &--burger {
    appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 1.25rem;
    justify-content: center;
    outline: none;
    padding: 0;
    position: relative;
    width: 1.25rem;
    z-index: 200;

    @include media-up(lg) {
      display: none;
    }

    &::before,
    &::after {
      background-color: $white;
      border-radius: 5px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 1.25rem;
    }

    &::before {
      @include transition(all 0.25s);
      top: 2px;
    }

    &::after {
      @include transition(all 0.25s);
      bottom: 2px;
    }

    span {
      @include transition(transform 0.25s, background-color, opacity 0.2s);
      background-color: $white;
      border-radius: 5px;
      display: block;
      height: 2px;
      transform-origin: left center;
      width: 1.25rem;
    }

    &:hover span {
      transform: scaleX(0.5);
    }

    &.is-open span {
      opacity: 0;
    }

    &.is-open::before {
      top: 9px;
      transform: rotate(135deg);
    }

    &.is-open::after {
      bottom: 9px;
      transform: rotate(-135deg);
    }
  }
}

.is-light {
  .header--logo .logo-g-text path {
    fill: $primary-violet;
    transition-delay: 0.15s;
    @include media-up(lg) {
      transition-delay: unset;
    }
  }

  .header--logo .logo-g-sign path {
    fill: $primary-orange;
    transition-delay: 0.15s;
    @include media-up(lg) {
      transition-delay: unset;
    }
  }

  .header--logo.is-open .logo-g-text path {
    fill: $white;
    transition-delay: 0.1s;
    @include media-up(lg) {
      transition-delay: unset;
    }
  }

  .header--logo.is-open .logo-g-sign path {
    fill: $white;
    transition-delay: 0.1s;
    @include media-up(lg) {
      transition-delay: unset;
    }
  }

  .header--burger span,
  .header--burger::before,
  .header--burger::after {
    background-color: $font-color-dark;
  }

  .header--burger.is-open::before,
  .header--burger.is-open::after {
    background-color: $white;
  }

  .header--menu-item {
    @include media-up(lg) {
      color: $font-color-default;
    }

    &::after {
      @include media-up(lg) {
        background-color: $font-color-default;
      }
    }
  }

  .header--button {
    @include media-up(lg) {
      background-color: $primary-orange;
      color: $white;
    }

    &:hover,
    &:focus-visible {
      @include media-up(lg) {
        background-color: lighten($primary-orange, 10%);
      }
    }
  }
}
