@mixin transition($transitions...) {
  $unfolded-transitions: ();
  @each $transition in $transitions {
    $unfolded-transitions: append(
      $unfolded-transitions,
      unfold-transition($transition),
      comma
    );
  }
  transition: $unfolded-transitions;
}

@function unfold-transition($transition) {
  $property: all;
  $duration: 0.35s;
  $easing: cubic-bezier(0, 0.5, 0.5, 1);
  $delay: null;
  $default-properties: ($property, $duration, $easing, $delay);
  $unfolded-transition: ();
  @for $i from 1 through length($default-properties) {
    $p: null;
    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($default-properties, $i);
    }
    $unfolded-transition: append($unfolded-transition, $p);
  }
  @return $unfolded-transition;
}

@mixin media-up($name, $mq-breakpoints: $grid-breakpoints) {
  @if map-has-key($mq-breakpoints, $name) {
    $name: map-get($mq-breakpoints, $name);
  }
  @media screen and (min-width: #{$name}) {
    @content;
  }
}

@function col($count, $gap: 0px) {
  @return calc((100% - #{$gap} * #{$count - 1}) / #{$count});
}

@mixin stylized-scrollbar($thumb-color: $primary-orange, $track-color: #2c2c2c) {
  &::-webkit-scrollbar {
    appearance: none;
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: $track-color;
  }
}

@mixin link-underline {
  @include transition(color 0.6s cubic-bezier(0, 0.5, 0.5, 1), background-size 0.4s cubic-bezier(0, 0.5, 0.5, 1));
  background-image: linear-gradient($primary-orange, $primary-orange);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  color: $primary-violet;
  overflow-wrap: break-word;
  text-decoration: none;

  &:hover {
    background-size: 0 1px;
    color: $font-color-dark;
  }
}

@mixin link-arrow {
  line-height: 1.5;
  margin-right: 1.5rem;
  position: relative;

  &::after {
    @include transition(transform 0.3s);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.21967 13.7686C3.51256 14.0615 3.98744 14.0615 4.28033 13.7686L11.5407 6.5082V10.708C11.5407 11.1222 11.8765 11.458 12.2907 11.458C12.705 11.458 13.0407 11.1222 13.0407 10.708V4.69754C13.0407 4.28333 12.705 3.94754 12.2907 3.94754H6.28033C5.86612 3.94754 5.53033 4.28333 5.53033 4.69754C5.53033 5.11176 5.86612 5.44754 6.28033 5.44754H10.4801L3.21967 12.708C2.92678 13.0008 2.92678 13.4757 3.21967 13.7686Z' fill='%233C3A40'/%3E%3C/svg%3E");
    content: "";
    display: block;
    height: 1rem;
    position: absolute;
    right: -1.5rem;
    top: .125rem;
    width: 1rem;
  }

  &:hover::after,
  &:focus-visible::after {
    transform: translate3d(4px, -4px, 0);
  }
}
