@import 'mixins';
@import 'vars';

.technology {
  &--head {
    background: linear-gradient(180deg, #331fab 14%, #5e00a9 100%);
    display: flex;
    padding-bottom: 2.5rem;
    padding-top: 6.25rem;
    @include media-up(md) {
      padding-bottom: 5rem;
      padding-top: 8.75rem;
    }
    @include media-up(xl) {
      padding-bottom: 7.5rem;
      padding-top: 12.5rem;
    }

    &-wrapper {
      margin: auto 0;
      width: 100%;
    }

    &-title {
      color: $white;
      overflow: hidden;
    }
  }

  &--content {
    :nth-child(1 of p) {
      font-size: 1.75rem;
      line-height: 2.8rem;
      margin-bottom: 2.5rem;
      margin-top: 6.25rem;
      width: 46rem;
    }

    :nth-child(1 of ul) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      $border-width: 1px;
      padding: $border-width 0 0 $border-width; // Compensate for collapsed borders

      li {
        display: block;
        padding: 1.75rem 2rem;
        width: 33%;

        border: $border-color-default $border-width solid;
        margin: -#{$border-width} 0 0 -#{$border-width}; // Collapse the borders
      }
    }
  }
}
