.youtube-wrapper {
  aspect-ratio: 16/9;
  border: none;
  display: block;
  height: auto;
  width: 100%;
}

.youtube--latest {
  margin-top: 1.5rem;
  @include media-up(lg) {
    margin-top: 2.5rem;
  }
  @include media-up(xl) {
    margin-top: 3.5rem;
  }

  &-list {
    display: grid;
    gap: 1.5rem;
    @include media-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-up(lg) {
      gap: 2rem;
    }
    @include media-up(xl) {
      gap: 2.5rem;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include media-up(lg) {
      gap: 1rem;
    }
  }

  &-cover {
    @include transition(opacity);
    display: block;
    overflow: hidden;
    border-radius: 0.5rem;

    img {
      object-fit: cover;
      aspect-ratio: 16 / 9;
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &-title {
    @include transition(color);
    color: $font-color-default;
  }

  &-item:hover &-cover {
    opacity: 0.8;
  }

  &-item:hover &-title {
    color: $primary-orange;
  }

  &-channel-link {
    margin-top: 1rem;
    @include media-up(lg) {
      margin-top: 2rem;
    }

    a {
      @include link-underline();
      background-position: 2rem 100%;
      @include media-up(xl) {
        font-size: $font-size-bigger;
      }

      svg {
        height: 1.5rem;
        margin-right: 0.5rem;
        width: 1.5rem;
      }
    }
  }
}

.youtube--modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  &-iframe {
    aspect-ratio: 16 / 9;
    display: block;
    max-width: calc(100% - 7rem);
    max-height: calc(100% - 7rem);
    border: none;
    width: 100%;
  }
}
