@import './about';
@import './btn';
@import './contact-form';
@import './fonts';
@import './footer';
@import './header';
@import './how-we-work';
@import './solutions';
@import './typography';
@import './vars';

body {
  @include stylized-scrollbar;
  background-color: $white;
  color: $font-color-default;
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-default;
  font-weight: $font-weight-default;
  line-height: $line-height-default;
  margin: 0;
  text-align: left;
}

html, * {
  box-sizing: border-box;
}

img, svg {
  vertical-align: middle;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: $container-default-max-width;
  padding: 0 1.25rem;
  width: 100%;
}
