{{- define "styles" }}
  {{- partial "styles.html" "industries" }}
{{- end }}

{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}

{{- define "main" }}
  <main class="industries industries--index">
    <div class="container">
      <h1>Industries</h1>
    </div>

    <div class="container">
      <div class="industries--index-features">
        <div class="industries--index-list">
        {{- range sort .Pages "Params.order" }}
          <a class="industries--index-item" href="{{ .RelPermalink }}">
            <h2 class="industries--index-item-title"><span>{{ .Params.caption }}</span></h2>
            <p class="industries--index-item-text">{{ strings.TrimSuffix "." .Description }}&nbsp;<span aria-hidden="true">→</span></p>
            {{- with .Resources.Get "img/head-image.svg" }}
              {{ partial "image.html" (dict
                "Img" .
                "Alt" ""
                "Width" 180
                "Class" "industries--index-item-illustration"
              ) }}
            {{- end }}
          </a>
        {{- end }}
        </div>
      </div>
    </div>
  </main>
{{- end }}
