{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}
{{- define "main" }}
  <div class="industries">

    <div class="container industries--head">
      <div class="industries--head-body">
        <div class="industries--head-caption">{{- .Params.caption -}}</div>
        <h1 class="industries--head-title">{{- .Params.h1 -}}</h1>
      </div>
      {{ with .Resources.Get "img/head-image.svg" }}
        <div class="industries--head-img">
          {{ partial "image.html" (dict
            "Img" .
            "Alt" .Params.caption
            "Width" 250
            ) }}
        </div>
      {{ end }}
    </div>

    <div class="container industries--intro">
      <div class="industries--intro-body">
        {{- .Content -}}
      </div>
    </div>

    <div class="container">
      <div class="industries--list">
        <div class="industries--item">
          <div class="industries--item-num">01 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "add-ai-features").Content }}
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">02 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "integrate-ai").Content }}
            <a
              class="btn btn-outline-violet btn-small industries--cta"
              href="#talk"
            >
              Book a quick project review
            </a>
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">03 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "build-faster").Content }}
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">04 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "from-prototype").Content }}
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">05 /</div>
          <div class="industries--item-body">
            <h3>Ivelum assistant</h3>
            {{ partial "ai-bot.html" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end }}
