{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}
{{- define "main" }}
  <div class="industries">
    <div class="container industries--head">
      <div class="industries--head-body">
        <div class="industries--head-caption">{{- .Params.caption -}}</div>
        <h1 class="industries--head-title">{{- .Params.h1 -}}</h1>
      </div>
      {{ with .Resources.Get "img/head-image.svg" }}
        <div class="industries--head-img">
          {{ partial "image.html" (dict
            "Img" .
            "Alt" .Params.caption
            "Width" 250
            ) }}
        </div>
      {{ end }}
    </div>
    <div class="container">
      <div class="industries--list">
        <div class="industries--item">
          <div class="industries--item-num">01 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "it-all-starts-with-people").Content }}
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">02 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "secure-your-production").Content }}
            <ul class="industries--features-list">
              <li>
                <strong>60%</strong> of small businesses close within six
                months after a cyberattack.
                <em>National Cyber Security Alliance</em>
              </li>
            </ul>
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">03 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "achieve-compliance-faster").Content }}
            <a
              class="btn btn-outline-violet btn-small industries--cta"
              href="#talk"
            >
              Book a free consultation
            </a>
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">04 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "right-balance").Content }}
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">04 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "get-ready-for-ai").Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end }}
