{{- define "styles" }}
  {{- partial "styles.html" "industries" }}
{{- end }}

{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}
{{- define "main" }}
  <main class="industries">

    <div class="container industries--head">
      <div class="industries--head-body">
        <div class="industries--head-caption">{{- .Params.caption -}}</div>
        <h1>{{- .Params.h1 -}}</h1>
      </div>
      {{ with .Resources.Get "img/head-image.svg" }}
        <div class="industries--head-img">
          {{ partial "image.html" (dict
            "Img" .
            "Alt" .Params.caption
            "Width" 250
            ) }}
        </div>
      {{ end }}
    </div>

    {{ with .GetPage "testimonial" }}
      <div class="container industries--intro">
        <div class="industries--intro-body is-testimonial">
          {{ .Content }}
        </div>
        {{ partial "author-card.html" (dict
          "Avatar" (.Parent.Resources.Get .Params.avatar)
          "Name" .Title
          "Position" .Params.position
          "LinkedIn" .Params.linkedin
        ) }}
      </div>
    {{ else }}
      {{ with .Content }}
        <div class="container industries--intro">
          <div class="industries--intro-body">
            {{- . -}}
          </div>
        </div>
      {{ end }}
    {{ end }}

    <div class="container">
      <div class="industries--list">
        {{- range sort (where .Pages "Params.category" "page-block") "File.Path" }}
        <div class="industries--item">
          <div class="industries--item-num">{{ .Params.marker }}</div>
          <div class="industries--item-body{{- with .Params.listStyle }} industries--item-list-{{ . }}{{ end }}">
            {{- .Content }}
            {{ with .Params.features }}
              <ul class="industries--features-list">
                {{ range . }}
                  <li>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </main>
{{- end }}
