{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}
{{- define "main" }}
  <div class="industries">

    <div class="container industries--head">
      <div class="industries--head-body">
        <div class="industries--head-caption">{{- .Params.caption -}}</div>
        <h1 class="industries--head-title">{{- .Params.h1 -}}</h1>
      </div>
      {{ with .Resources.Get "img/head-image.svg" }}
        <div class="industries--head-img">
          <img src="{{ .RelPermalink }}" alt="{{- .Params.caption -}}" />
        </div>
      {{ end }}
    </div>

    {{ with .GetPage "testimonial" }}
      <div class="container industries--intro">
        <div class="industries--intro-body is-testimonial">
          {{ .Content }}
        </div>
        {{ partial "author-card.html" (dict
          "Page" .Parent
          "Image" .Params.avatar
          "Name" .Title
          "Position" .Params.position
          "LinkedIn" .Params.linkedin
        ) }}
      </div>
    {{ end }}

    <div class="container">
      <div class="industries--list">
        <div class="industries--item">
          <div class="industries--item-num">01 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "fast-content-delivery").Content }}
            <ul class="industries--logo-list">
              <li>
                {{ partial "image.html" (dict
                  "Img" (.Resources.Get "img/pagespeed-insights.svg")
                  "Alt" "Google PageSpeed Insights"
                  "Width" 500
                ) }}
              </li>
            </ul>
            <a
              class="btn btn-outline-violet btn-small industries--cta"
              href="#talk"
            >
              Schedule a free website audit
            </a>
          </div>
        </div>
        <div class="industries--item">
          <div class="industries--item-num">02 /</div>
          <div class="industries--item-body">
            {{- (.GetPage "handle-traffic-peaks").Content }}
            <ul class="industries--logo-list">
              <li>
                {{ partial "image.html" (dict
                  "Img" (.Resources.Get "img/logo-aws.svg")
                  "Alt" "AWS"
                  "Width" 100
                ) }}
              </li>
              <li>
                {{ partial "image.html" (dict
                  "Img" (.Resources.Get "img/logo-fastly.svg")
                  "Alt" "Fastly"
                  "Width" 130
                ) }}
              </li>
              <li>
                {{ partial "image.html" (dict
                  "Img" (.Resources.Get "img/logo-flexpress.png")
                  "Alt" "Flexpress"
                  "Width" 230
                ) }}
              </li>
            </ul>
            <ul class="industries--features-list">
              <li>
                <strong>300M+</strong> visitors served per month
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end }}
