{{- define "styles" }}
  {{- partial "styles.html" "service-page" }}
{{- end }}

{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}
{{- define "main" }}
  <main class="page service-page">
    <div class="container service-page--back">
      <a class="article--back-link" href="/services">
        {{ (resources.Get "img/ico-arrow-left.svg").Content | strings.TrimSpace | safeHTML }}
        All services
      </a>
    </div>
    <article class="container article--content service-page--content">
      {{ .Content }}

      {{- $section := . }}
      {{- range sort (where .Pages "Params.category" "page-block") "File.Path" }}
      <section class="service-page--section{{- if eq "reverse" .Params.columnOrder }} service-page--section-column-reverse{{ end }}">
        <div class="service-page--section-marker">
          {{ with .Params.marker }}{{- . }}{{ end }}
          {{- $page := . }}
          {{ with .Params.image }}
            {{ with $section.Resources.Get . }}
              {{ partial "image.html" (dict
                   "Img" .
                   "Alt" (default "" $page.Params.imageAlt)
                   "Width" (default 150 $page.Params.imageWidth)
                 ) }}
            {{ end }}
          {{ end }}
        </div>
        <div class="service-page--section-body">
          {{ .Content }}
        </div>
      </section>
      {{- end }}
    </article>
  </main>
{{- end }}
