{{- define "styles" }}
  {{- partial "styles.html" "services" }}
{{- end }}

{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}

{{- define "main" }}
  <main class="services services--index">
    <div class="container">
      <h1>Services</h1>
    </div>

    <div class="container">
      <div class="services--index-features">
        <div class="services--index-list">
          {{- $services := slice
            (dict "title" "Web and Mobile Development" "path" "/services/web-and-mobile-development/")
            (dict "title" "Fractional CTO services" "path" "/services/fractional-cto/")
            (dict "title" "Cloud Cost Optimization" "path" "/services/cloud-cost-optimization/")
            (dict "title" "Software Project Audit" "path" "/services/software-project-audit/")
          }}
          {{- range $services }}
            <a class="services--index-item" href="{{ .path }}">
              <div class="services--index-item-title">
                <span>{{ .title }}</span>
                <span class="services--index-item-arrow" aria-hidden="true"></span>
              </div>
              {{- with site.GetPage .path }}
                <div class="services--index-item-text">{{ .Description }}</div>
              {{- end }}
            </a>
          {{- end }}
        </div>
      </div>
    </div>

    <div class="container services--index-action">
      <a class="btn btn-big" href="https://calendly.com/ivelum/consultation">Book a free consultation</a>
    </div>
  </main>
{{- end }}
