{{- define "styles" }}
  {{- partial "styles.html" "services" }}
{{- end }}

{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}

{{- define "main" }}
  <main class="services services--index">
    <div class="container">
      <h1>Services</h1>
    </div>

    <div class="container">
      <div class="services--index-features">
        <div class="services--index-list">
          <div class="services--index-illustration">
            <img src="{{ (resources.Get "img/services.svg").RelPermalink }}" width="400" height="173" alt="" fetchpriority="high">
          </div>
          {{- range .Pages.ByParam "listOrder" }}
            <a class="services--index-item" href="{{ .RelPermalink }}">
              <div class="services--index-item-content">
                <div class="services--index-item-icon" aria-hidden="true">
                  <img src="{{ (.Resources.Get .Params.listIcon).RelPermalink }}" alt="">
                </div>
                <h2 class="services--index-item-title"><span>{{ .Params.h1 }}</span></h2>
                <p class="services--index-item-text">{{ strings.TrimSuffix "." .Description }}&nbsp;<span aria-hidden="true">→</span></p>
              </div>
            </a>
          {{- end }}
        </div>
      </div>
    </div>
  </main>
{{- end }}
