{{ $page := site.GetPage "/_shared/distributed-team" }}
{{ if $page }}
  <div class="distributed-team">
    <div class="distributed-team--text">
      {{ with $page.Resources.Get "img/globe.svg" }}
        {{ partial "image.html" (dict
             "Img" .
             "Class" "distributed-team--ico"
             "Alt" $page.Title
             "Width" 40
           ) }}
      {{ end }}
      {{- $page.Content -}}
    </div>
    <ul class="distributed-team--list">
    {{ range $page.Resources.Match "img/flags/*.svg" }}
      {{ $country := path.BaseName .Name }}
      <li class="distributed-team--flag">
        {{ partial "image.html" (dict
             "Img" .
             "Alt" $country
             "Width" 20
           ) }}
        {{ $country }}
      </li>
    {{- end }}
    </ul>
  </div>
{{ end }}
