{{ $page := site.GetPage "youtube-latest" }}
{{ if $page }}
  {{ $title := .Title | default "The latest videos" }}
  {{ partial "heading.html" (dict "Level" 2 "Text" $title) }}
  <div class="youtube-latest">
    <div class="youtube-latest--list">
      {{ range first 3 $page.Params.videos }}
        {{ partial "youtube-preview.html" (dict
          "Id" .id
          "Title" .title
          "ShowTitle" true
          "Popup" true
          ) }}
      {{ end }}
    </div>
    {{ with $page.Resources.Get "img/ico-youtube.svg" }}
      <div class="youtube-latest--channel-link">
        <a
          href="https://www.youtube.com/@ivelum"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ .Content | strings.TrimSpace | safeHTML -}}
          More on YouTube
        </a>
      </div>
    {{ end }}
  </div>
{{ end }}
