@import './article';

.fractional-cto {
  position: relative;

  &--back {
    margin-bottom: 1rem;

    .article--back-link {
      margin-bottom: 0;
      position: static;
    }
  }

  &--content {
    > h1 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      max-width: $container-narrow-max-width;
      text-wrap: balance;
    }
  }

  &--section {
    clear: both;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include media-up(lg) {
      flex-direction: row;
    }

    & + & {
      border-top: 1px solid $border-color-default;
      margin-top: 3rem;
      padding-top: 3rem;

      @include media-up(lg) {
        margin-top: 4rem;
        padding-top: 4rem;
      }
    }

    &-marker {
      color: $font-color-gray;
      @include media-up(lg) {
        flex: 0 0 percentage(2 / 12);
      }
    }

    &-body {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      min-width: 0;
      @include media-up(lg) {
        flex: 1 1 auto;
      }
      @include media-up(xl) {
        flex-basis: percentage(8 / 12);
      }

      h2 {
        font-size: 1.75rem;
        line-height: 1.4;
        margin: 0;
      }

      h3 {
        font-size: 1.225rem;
        margin-top: 1.28rem;
      }

      p:first-of-type {
        margin-top: 1rem;
      }

      ol,
      ul {
        padding-inline-start: 2rem;

        li {
          padding-left: 0.5rem;

          &::marker {
            color: $font-color-gray;
            font-size: 1rem;
          }
        }
      }

      img {
        display: block;
        height: auto;
        max-width: 100%;
      }
    }
  }

  .youtube-embed {
    margin-top: 1.5rem;
  }

  .btn-with-arrow {
    margin-top: 1.5rem;
  }
}
