@import './base';

.home {
  &--hero {
    background-color: #3f13a8;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

    &::after {
      background: linear-gradient(
        335deg,
        rgba(94, 0, 169, 0.6) 10%,
        rgba(223, 119, 119, 0) 60%
      );
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0.6;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
    }

    &-body {
      bottom: 45%;
      max-width: $container-default-max-width;
      padding: 0 1.25rem;
      position: absolute;
      width: 100%;
      z-index: 10;
      @include media-up(md) {
        bottom: 40%;
      }
    }

    &-tagline {
      color: $white;
      @include media-up(xl) {
        font-size: $font-size-bigger;
      }
    }

    &-title {
      color: $white;
      margin-top: 1rem;
      @include media-up(xl) {
        margin-top: 2rem;
      }
    }

    &-video {
      aspect-ratio: 166 / 71;
      flex-shrink: 0;
      margin-bottom: 100px;
      mask-composite: intersect;
      mask-image: linear-gradient(to top, transparent, black 4rem), linear-gradient(to right, transparent, black 4rem), linear-gradient(to left, transparent, black 4rem);
      max-width: 1140px;
      min-height: 440px;
      object-fit: cover;
      pointer-events: none;
      position: relative;
      transform: scaleX(-1);
      user-select: none;
      width: 300%;
      z-index: 1;
      @include media-up(lg) {
        margin-bottom: 140px;
        margin-right: -5rem;
        margin-top: -3rem;
        max-width: 1660px;
        width: 120%;
      }
    }

    &-footer {
      align-items: flex-start;
      bottom: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: $container-default-max-width;
      padding-inline: 1.25rem;
      position: absolute;
      width: 100%;
      z-index: 10;
      @include media-up(md) {
        align-items: center;
        bottom: 2.5rem;
        flex-direction: row;
        gap: 2rem;
      }
      @include media-up(lg) {
        bottom: 3.5rem;
      }
      @include media-up(xl) {
        bottom: 5rem;
      }
    }

    &-cta {
      margin-right: auto;
    }

    &-loved {
      align-items: center;
      display: flex;
      gap: 0.75rem;

      &-avatars {
        display: flex;

        img {
          border-radius: 50%;
          border: 2px solid $primary-violet;
          display: block;
          height: auto;
          margin-left: -1rem;
          max-width: 2.5rem;

          &:first-child {
            margin-left: unset;
          }
        }
      }

      &-text {
        color: $white;
        font-size: $font-size-smaller;
        line-height: 1.5;
      }
    }

    &-clutch {
      align-items: center;
      display: flex;
      gap: 0.75rem;

      &-text {
        align-items: flex-start;
        color: $white;
        display: flex;
        flex-direction: column;
        font-size: $font-size-smaller;
        gap: 0.125rem;
        line-height: 1.5;

        img {
          display: block;
          max-height: 1rem;
          width: auto;
        }
      }
    }
  }
}
