@import './base';
@import '../technology-stack';

.technology {
  margin-top: 6.25rem;
  @include media-up(md) {
    margin-top: 8.75rem;
  }
  @include media-up(xl) {
    margin-top: 12.5rem;
  }

  &--title {
    color: $primary-violet;
  }

  &--intro {
    text-wrap: balance;
    margin-top: 1.5rem;
    @include media-up(lg) {
      margin-top: 2.5rem;
    }
    @include media-up(xl) {
      margin-top: 3.75rem;
    }
  }

  &--intro-button {
    margin-top: 1.5rem;
    @include media-up(lg) {
      margin-top: 2rem;
    }
  }

  &--stack {
    margin-top: 3rem;
    @include media-up(lg) {
      margin-top: 4rem;
    }
    @include media-up(xl) {
      margin-top: 6rem;
    }
  }
}