{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" true
    ) }}
{{ end }}

{{- define "main" }}
  <div class="page article">
    <div class="article--back">
      <a class="article--back-link" href="/blog/">
        {{ (resources.Get "img/ico-arrow-left.svg").Content | strings.TrimSpace | safeHTML }}
        Back
      </a>
    </div>
    <article class="narrow-container">
      <h1 class="article--title">{{ .Title }}</h1>

      <div class="article--subtitle">
        <div class="article--meta">
          <div>
            {{- $avatar := resources.Get (printf "img/avatars/%s.png" (urlize .Params.author)) }}
            {{ partial "image.html" (dict
              "Img" $avatar
              "Class" "article--userpic"
              "Alt" .Params.author
              "Width" 24
            ) }}
          </div>

          <div class="article--author">{{ .Params.author }}</div>

          <time datetime="{{ .Date | time.Format "2006-01-02" }}">
            {{ .Date | time.Format ":date_long" }}
          </time>

          <div>|</div>

          <div>
            {{
              T "minute_with_count" .ReadingTime
              | printf "Estimated %s read"
            }}
          </div>
        </div>

        <div class="article--follow">
          <div>Follow us:</div>
          <a href="https://x.com/ivelum_dev" target="_blank">
            {{ partial "image.html" (dict
                 "Img" (resources.Get "img/ico-x-colored.svg")
                 "Alt" "X"
                 "Width" 17
               ) }}
          </a>
          <a href="https://www.linkedin.com/company/ivelum/" target="_blank">
            {{ partial "image.html" (dict
                 "Img" (resources.Get "img/ico-linkedin-colored.svg")
                 "Alt" "LinkedIn"
                 "Width" 24
               ) }}
          </a>
          <a href="{{ .CurrentSection.RelPermalink }}index.xml">
            {{ partial "image.html" (dict
                 "Img" (resources.Get "img/ico-rss-colored.svg")
                 "Alt" "RSS"
                 "Width" 20
               ) }}
          </a>
        </div>
      </div>
      <div class="article--content">
        {{ .Content }}
      </div>
      {{ partial "blog-subscribe-form.html" . }}
    </article>
    {{ partial "blog-navigation.html" . }}
  </div>
{{- end }}

{{- define "footer" }}
  <script type="module">
    import '/js/lightbox.js';
  </script>
  {{ partial "blog-footer.html" . }}
{{- end }}
