{{- define "main" }}
  {{- $section := . }}
  <div class="about--hero">
    <div class="about--hero-body">
      <div class="about--hero-tagline">Since 2003</div>
      <h1 class="about--hero-title">
        <div class="about--hero-title-wrap">Experts</div>
        <div class="about--hero-title-wrap">in&nbsp;software</div>
        <div class="about--hero-title-wrap">development</div>
      </h1>
      {{- /* TODO: Animations */}}
    </div>
    {{- /* TODO: Technology slider */}}
    <video
      class="about--hero-video"
      poster="/img/hero-video-cover.png"
      width="100%"
      autoPlay
      loop
      muted
      preload="auto"
      playsInline
      id="hero-video"
    >
      <source type="video/webm" src="/img/hero-video.webm" />
      <source type="video/mp4" src="/img/hero-video.mp4" />
      <img
        class="about--hero-video"
        src="/img/hero-video-cover.png"
        alt="Experts in software development"
      />
    </video>
  </div>

  {{- range sort (where .Pages "Params.category" "about") "File.Path" }}
    <div>
      <h2>{{ .Title }}</h2>
      {{ .Content }}
    </div>
  {{- end }}

  {{- range sort (where .Pages "Params.category" "what-we-do") "File.Path" }}
    <div>
      <h2>{{ .Title }}</h2>
      <img src="{{ $section.Resources.Get .Params.image }}" alt="{{ .Title }}">
      {{ .Content }}
    </div>
  {{- end }}

  <a href="#talk">Let&apos;s talk</a>

  <h2>What our clients say</h2>
  {{- range sort (where .Pages "Params.category" "testimonials") "File.Path" }}
    <div>
      <h2>
        <a href="{{ .Params.linkedin }}" target="_blank">
          <img src="{{ $section.Resources.Get .Params.avatar }}" alt="{{ .Title }}">
          {{ .Title }}
        </a>
      </h2>
      {{ .Content }}
    </div>
  {{- end }}

  <h2>Team</h2>
  {{- range .Resources.Match "img/team/*.jpg" }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
  {{- end }}
  {{- (.GetPage "team").Content }}
{{- end }}
