{{- define "main" }}
  {{- $section := . }}
  <div class="about--hero">
    <div class="about--hero-body">
      <div class="about--hero-tagline">Since 2003</div>
      <h1 class="about--hero-title">
        <div class="about--hero-title-wrap">Experts</div>
        <div class="about--hero-title-wrap">in&nbsp;software</div>
        <div class="about--hero-title-wrap">development</div>
      </h1>
      {{- /* TODO: Animations */}}
    </div>
    {{- /* TODO: Technology slider */}}
    <video
      class="about--hero-video"
      poster="/img/hero-video-cover.png"
      width="100%"
      autoPlay
      loop
      muted
      preload="auto"
      playsInline
      id="hero-video"
    >
      <source type="video/webm" src="/img/hero-video.webm" />
      <source type="video/mp4" src="/img/hero-video.mp4" />
      <img
        class="about--hero-video"
        src="/img/hero-video-cover.png"
        alt="Experts in software development"
      />
    </video>
  </div>

  <div class="container">
    <h2 class="about--title">About</h2>
    <div class="about--about-wrapper">
    {{- range sort (where .Pages "Params.category" "about") "File.Path" }}
      <div class="about--about-item">
        <h3>{{ .Title }}</h3>
        {{- /* TODO: Smaller font size for the title */}}
        {{ .Content }}
        {{- /* TODO: Show the Teamplify link with the bird */}}
        {{- /* TODO: Show the trailing link as a button */}}
      </div>
    {{- end }}
    </div>
  </div>

  <div class="container">
    <h2 class="about--title">What we do</h2>
    <div class="about--what-we-do-wrapper">
    {{- range sort (where .Pages "Params.category" "what-we-do") "File.Path" }}
      <div class="about--what-we-do-item">
        <img
          class="about--what-we-do-item-image"
          src="{{ $section.Resources.Get .Params.image }}"
          alt="{{ .Title }}"
          width="260"
          height="260"
        >
        <h3 class="about--what-we-do-item-title">{{ .Title }}</h3>
        <div class="about--what-we-do-item-text">
          {{ .Content }}
        </div>
      </div>
    {{- end }}
    </div>
  </div>

  <div class="about--action">
    <a
      href="#talk"
      {{- /* TODO: Smooth scroll */}}
      class="btn btn-big btn-with-arrow about--action-button"
    >
      Let’s talk
      {{ readFile "static/img/arrow-button.svg" | safeHTML }}
    </a>
    <img
      class="about--action-background"
      src="/img/got-a-project-in-mind.svg"
      alt="Got a project in mind?"
      width="738"
      height="208"
    >
  </div>

  <div class="container">
    <h2 class="about--title">What our clients say</h2>
    <div class="about--testimonials-wrapper">
    {{- range sort (where .Pages "Params.category" "testimonials") "File.Path" }}
      <div class="about--testimonials-item">
        <div class="about--testimonials-author">
          <img
            class="about--testimonials-author-image"
            src="{{ $section.Resources.Get .Params.avatar }}"
            alt="{{ .Title }}"
          >
          <div class="about--testimonials-author-body">
            <a
              class="about--testimonials-author-name"
              href="{{ .Params.linkedin }}"
              target="_blank"
            >
              {{ .Title }}
              {{ readFile "static/img/ico-linkedin.svg" | safeHTML }}
            </a>
          </div>
        </div>
        <div class="about--testimonials-body">
          {{ .Content }}
        </div>
      </div>
    {{- end }}
    </div>
  </div>

  <div class="container">
    <h2 class="about--title">Team</h2>
  </div>
  {{- range .Resources.Match "img/team/*.jpg" }}
    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
  {{- end }}
  {{- /* TODO: Swiper */}}

  <div class="container">
    {{- (.GetPage "team").Content }}
  </div>
{{- end }}
