{{- define "main" }}
  <div class="about--hero">
    <div class="about--hero-body">
      <div class="about--hero-tagline">Since 2003</div>
      <h1 class="about--hero-title">
        <div class="about--hero-title-wrap">Experts</div>
        <div class="about--hero-title-wrap">in&nbsp;software</div>
        <div class="about--hero-title-wrap">development</div>
      </h1>
      {{- /* TODO: Animations */}}
    </div>
    {{- /* TODO: Technology slider */}}
    <video
      class="about--hero-video"
      poster="{{ (.Resources.Get "img/hero-video-cover.png").RelPermalink }}"
      width="100%"
      autoPlay
      loop
      muted
      preload="auto"
      playsInline
      id="hero-video"
    >
      <source type="video/webm" src="{{
        (.Resources.Get "img/hero-video.webm").RelPermalink
      }}" />
      <source type="video/mp4" src="{{
        (.Resources.Get "img/hero-video.mp4").RelPermalink
      }}" />
      <img
        class="about--hero-video"
        src="{{ (.Resources.Get "img/hero-video-cover.png").RelPermalink }}"
        alt="Experts in software development"
      />
    </video>
  </div>

  <div class="container">
    <h2 class="about--title">About</h2>
    <div class="about--about-wrapper">
    {{- range sort (where .Pages "Params.category" "about") "File.Path" }}
      <div class="about--about-item">
        <h3>{{ .Title }}</h3>
        {{- /* TODO: Smaller font size for the title */}}
        {{ .Content }}
        {{- /* TODO: Show the Teamplify link with the bird */}}
      </div>
    {{- end }}
    </div>
  </div>

  <div class="container">
    <h2 class="about--title">What we do</h2>
    <div class="about--what-we-do-wrapper">
    {{- range sort (where .Pages "Params.category" "what-we-do") "File.Path" }}
      <div class="about--what-we-do-item">
        <img
          class="about--what-we-do-item-image"
          src="{{ ($.Resources.Get .Params.image).RelPermalink }}"
          alt="{{ .Title }}"
          width="260"
          height="260"
        >
        <h3 class="about--what-we-do-item-title">{{ .Title }}</h3>
        <div class="about--what-we-do-item-text">
          {{ .Content }}
        </div>
      </div>
    {{- end }}
    </div>
  </div>

  <div class="about--action">
    <a
      class="btn btn-big btn-with-arrow about--action-button"
      href="#talk"
      x-data
      x-on:click.prevent="window.talk.scrollIntoView({ behavior: 'smooth' })"
      >Let's talk{{
        readFile "static/img/arrow-button.svg" | strings.TrimSpace | safeHTML
      }}</a
    >
    <img
      class="about--action-background"
      src="{{ (.Resources.Get "img/got-a-project-in-mind.svg").RelPermalink }}"
      alt="Got a project in mind?"
      width="738"
      height="208"
    >
  </div>

  <div class="container">
    <h2 class="about--title">What our clients say</h2>
    <div class="about--testimonials-wrapper">
    {{- range sort (where .Pages "Params.category" "testimonials") "File.Path" }}
      <div class="about--testimonials-item">
        <div class="about--testimonials-author">
          <img
            class="about--testimonials-author-image"
            src="{{ ($.Resources.Get .Params.avatar).RelPermalink }}"
            alt="{{ .Title }}"
          >
          <div class="about--testimonials-author-body">
            <a
              class="about--testimonials-author-name"
              href="{{ .Params.linkedin }}"
              target="_blank"
              >{{ .Title }}{{
                readFile "static/img/ico-linkedin.svg"
                | strings.TrimSpace
                | safeHTML
              }}</a
            >
          </div>
        </div>
        <div class="about--testimonials-body">
          {{ .Content }}
        </div>
      </div>
    {{- end }}
    </div>
  </div>

  <div class="container">
    <h2 class="about--title">Team</h2>
  </div>
  <div class="about--team-slider-wrapper">
    <div class="about--team-slider swiper">
      <div class="swiper-wrapper">
      {{- range .Resources.Match "img/team/*.jpg" }}
        <div class="swiper-slide">
          <img
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
            alt="Team"
          >
        </div>
      {{- end }}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="container">
    <div class="about--team-about">
      <div class="about--team-about-text">
        {{- (.GetPage "team").Content }}
      </div>
      <div class="about--team-about-social">
        <a
          href="https://www.instagram.com/ivelum_development/"
          class="about--team-about-social-link"
          target="_blank"
          >{{
            readFile "static/img/ico-instagram.svg"
            | strings.TrimSpace
            | safeHTML
          }}ivelum_development</a
        >
      </div>
    </div>
  </div>

  <script type="module">
    import Swiper from 'swiper';
    import Pagination from 'swiper/modules/pagination';
    import 'swiper/css';
    import 'swiper/css/pagination';

    const swiper = new Swiper('.swiper', {
      grabCursor: true,
      modules: [Pagination],
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      spaceBetween: 20,
      initialSlide: 1,
      slidesPerView: 1.3,
      slidesOffsetBefore: 20,
      slidesOffsetAfter: 20,
    });
  </script>
{{- end }}
