<div class="author-card{{ with .Class }} {{ . }}{{ end }}">
  {{ partial "image.html" (dict
    "Img" .Avatar
    "Class" "author-card--image"
    "Alt" $.Name
    "Width" 72
    ) }}
  <div class="author-card--body">
    {{ if .LinkedIn }}
      <a class="author-card--name" href="{{ .Linkedin }}" target="_blank" rel="noopener">
        {{ .Name }}
        {{- (resources.Get "img/ico-linkedin.svg").Content | strings.TrimSpace | safeHTML -}}
      </a>
    {{ else }}
      <div class="author-card--name">
        {{ .Name }}
      </div>
    {{ end }}
    {{ with .Position }}
      <div class="author-card--position">{{ . }}</div>
    {{ end }}
  </div>
</div>
