<div x-data="ContactForm">
  <form
    x-show="!formSent"
    {{- /* Not using x-if to preserve the form state between page reloads. */}}
    x-on:submit.prevent="submitForm"
    x-bind:class="submitting && 'contact-form--form-submitting'"
    x-ref="form"
  >
    <div class="contact-form--form">
      <p>How can we help?</p>

      {{- $subjects := slice
        (dict
          "slug" "mvp"
          "title" "Build an MVP"
          "intro" `
            New ventures are always exciting. Could you please (very briefly)
            tell us what the project is about?
          `
        )
        (dict
          "slug" "boost-development-speed"
          "title" "Boost development speed"
          "intro" `
            Software development is very complex, and, unfortunately, progress
            is often slow. But that can probably be improved. What challenges
            are you facing?
          `
        )
        (dict
          "slug" "help-with-existing-project"
          "title" "Help with an existing project"
          "intro" `
            Very briefly, what is your project about? If you could also mention
            key technologies used in that project, that would be awesome.
          `
        )
        (dict
          "slug" "other"
          "title" "Other"
          "intro" `
            We love discussing new projects and opportunities. What can we do
            for you?
          `
        )
      }}
      <div class="contact-form--form-subject">
        {{- range $subjects }}
        <div class="custom-radio">
          <input
            type="radio"
            name="subject"
            value="{{ .slug }}"
            class="custom-radio--input"
            id="{{ .slug }}"
            x-model="subject"
            x-on:change="onChangeRadio"
          >
          <label for="{{ .slug }}">{{ .title }}</label>
        </div>
        {{- end }}
      </div>

      {{- range $subjects }}
      <template x-if="subject === '{{ .slug }}'">
        <p class="contact-form--form-intro-text">{{ .intro }}</p>
      </template>
      {{- end }}

      <div class="form-group">
        <textarea
          name="text"
          required
          class="form-control form-control--textarea"
          aria-label="How can we help?"
          x-ref="textarea"
          rows="1"
        ></textarea>
      </div>

      <div class="form-group form-label-up">
        <input
          type="text"
          name="name"
          required
          class="form-control"
          id="name"
          placeholder="Your name"
          aria-label="Your name"
        >
        <label for="name">Your name</label>
      </div>

      <div class="form-group form-label-up">
        <input
          type="text"
          name="company"
          required
          class="form-control"
          id="company"
          placeholder="Company name"
          aria-label="Company name"
        >
        <label for="company">Company</label>
      </div>

      <div class="form-group form-label-up">
        <input
          type="email"
          name="email"
          required
          class="form-control"
          id="email"
          placeholder="Email"
          aria-label="Email"
        >
        <label for="email">Email</label>
      </div>

      <div class="contact-form--form-submit">
        <button
          class="btn btn-with-arrow"
          type="submit"
          x-bind:disabled="submitting"
        >
          Submit
          {{
            (resources.Get "img/arrow-button.svg").Content
            | strings.TrimSpace
            | safeHTML
          }}
        </button>

        <div class="contact-form--fast-answer">
          <span class="contact-form--fast-answer-ico">{{
            (resources.Get "img/ico-clock.svg").Content
            | strings.TrimSpace
            | safeHTML
          }}</span>We'll respond within 24 hours
        </div>
      </div>
    </div>
  </form>

  <template x-if="formSent">
    <div class="contact-form--success">
      <span class="contact-form--success-ico">{{
        (resources.Get "img/ico-success.svg").Content
        | strings.TrimSpace
        | safeHTML
      }}</span>Thank you! Your message has been sent.
    </div>
  </template>
</div>

<script type="module">
  import * as Sentry from '@sentry/browser';
  import Alpine from "alpinejs";
  import autosize from "autosize";

  const isProduction = {{ hugo.IsProduction }};
  const apiUrl = 'https://8tuv2v0pk2.execute-api.eu-north-1.amazonaws.com/handle/';

  document.addEventListener('alpine:init', () => {
    Alpine.data('ContactForm', () => ({
      subject: null,
      submitting: false,
      formSent: false,

      init() {
        this.subject = this.$refs.form.subject.value || 'mvp';
        // Get the subject after the page reloads.

        this.$nextTick(() => {
          autosize(this.$refs.textarea);
        });
      },

      destroy() {
        autosize.destroy(this.$refs.textarea);
      },

      onChangeRadio() {
        this.$refs.textarea.focus();
      },

      async submitForm(event) {
        const form = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);

        this.submitting = true;

        try {
          if (isProduction) {
            const response = await fetch(apiUrl, {
              method: 'POST',
              mode: 'cors',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(data),
            });
            const result = await response.json();
            this.formSent = result.status === 'ok';
          } else {
            await new Promise((resolve) => setTimeout(resolve, 2000));
            console.log(data);
            this.formSent = true;
          }
          if (this.formSent) {
            form.reset();
          }
        } catch (e) {
          Sentry.withScope((scope) => {
            scope.setExtra('form_data', data);
            Sentry.captureException(e);
          });
        } finally {
          this.submitting = false;
        }
      },
    }));
  });
</script>
