<div class="footer footer--default{{ if .Hug }} footer--hug{{ end }}">
  <div class="container">
    <h2 id="talk" class="footer--title">
      Let's talk
    </h2>
    <div class="footer--grid">
      <div class="footer--contact">
        {{
          (resources.Get "img/ico-asterisk.svg").Content
          | strings.TrimSpace | safeHTML
        }}
        <p>
          Tell us about your project! Together, we'll brainstorm
          the optimal approach and how we can help.
        </p>
        <div class="footer--contact-form">
          <link
            href="https://assets.calendly.com/assets/external/widget.css"
            rel="stylesheet"
          />
          <script
            src="https://assets.calendly.com/assets/external/widget.js"
            type="text/javascript"
            async
          ></script>
          <a
            href="https://calendly.com/ivelum/consultation"
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ivelum/consultation?hide_gdpr_banner=1&hide_event_type_details=1'});return false;"
            class="btn"
          >
            {{
              (resources.Get "img/ico-calendar.svg").Content
              | strings.TrimSpace | safeHTML
            }}
            Book a call
          </a>
          <div class="footer--contact-form-mail">
            {{
              (resources.Get "img/ico-mail.svg").Content
              | strings.TrimSpace | safeHTML
            }}
            <span>
              <a href="mailto:info@ivelum.com" class="link-white">
                Send email
              </a>
              instead
            </span>
          </div>
        </div>
        <div class="footer--contact-form-answer">
          {{
            (resources.Get "img/ico-clock.svg").Content
            | strings.TrimSpace | safeHTML
          }}
          We'll respond within 24 hours
        </div>
      </div>
      <div class="footer--offices">
        <div class="footer--offices-item">
          <div class="footer--offices-title">Lithuania</div>
          <a href="tel:+37067527718" class="link-white">+370 675 27718</a><br/>
          21 Upės g., Vilnius LT-08128, Lithuania
        </div>
        <div class="footer--offices-item">
          <div class="footer--offices-title">Spain</div>
          <a href="tel:+34670996329" class="link-white">+34 670 99 63 29</a><br/>
          45, Calle Beire, Madrid 28039, Spain
        </div>
        <div class="footer--copyright">
          © ivelum 2003 – {{ dateFormat "2006" now }}
          <a href="/privacy/" class="link-light">Privacy policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
