{{- $isLight := in (slice "/teamplify/" "/contact/" "/privacy/") .RelPermalink }}
<div class="header{{ if $isLight }} is-light{{ end }}" data-scroll-lock-fill-gap x-data="header">
  <div class="header--wrapper">
    <a
      class="header--logo{{ if eq .RelPermalink "/" }} is-disabled{{ end }}"
      x-bind:class="isMenuOpen && 'is-open'"
      href="/"
      >{{ readFile "static/img/logo.svg" | strings.TrimSpace | safeHTML }}</a
    >
    <div class="header--menu" x-bind:class="isMenuOpen && 'is-open'">
      <div class="header--menu-inner">
        <div class="header--menu-items">
          {{- range site.Menus.main }}
          <a
            class="
              {{- "header--menu-item" }}
              {{- if eq $.RelPermalink .URL }} is-active{{ end -}}
            "
            href="{{ .URL }}"
            >{{ .Name }}</a
          >
          {{- end }}
        </div>
        <div class="header--button-wrapper">
          <a class="header--button" href="#talk" x-on:click.prevent="talkToUs"
            >{{
              readFile "static/img/ico-talk.svg" | strings.TrimSpace | safeHTML
            }}Talk to us</a
          >
        </div>
      </div>
    </div>
    <button
      type="button"
      class="header--burger"
      x-bind:class="isMenuOpen && 'is-open'"
      x-on:click="toggleMenu"
      aria-label="Menu"
    >
      <span></span>
    </button>
  </div>
</div>

<script type="module">
  import Alpine from "alpinejs";
  import scrollLock from 'scroll-lock';

  const mediaMd = '(min-width: 768px)';

  document.addEventListener('alpine:init', () => {
    Alpine.data('header', () => ({
      isMenuOpen: false,

      init() {
        this.handleWidthChange = this.handleWidthChange.bind(this);
        this.checkMediaMd = window.matchMedia(mediaMd);
        this.checkMediaMd.addEventListener('change', this.handleWidthChange);
      },

      destroy() {
        this.checkMediaMd.removeEventListener('change', this.handleWidthChange);
      },

      handleWidthChange(e) {
        if (e.matches) this.closeMenu();
      },

      closeMenu() {
        this.isMenuOpen = false;
        scrollLock.enablePageScroll();
      },

      openMenu() {
        this.isMenuOpen = true;
        scrollLock.disablePageScroll();
      },

      toggleMenu() {
        (this.isMenuOpen) ? this.closeMenu() : this.openMenu();
      },

      talkToUs() {
        this.closeMenu();
        window.talk.scrollIntoView({ behavior: 'smooth' });
        document.querySelector('.form-control--textarea')?.focus(
          { preventScroll: true },
        );
      },
    }));
  });
</script>
