<div
  class="header{{ if not .context.Page.Params.darkHeader }} is-light{{ end }}"
  data-scroll-lock-fill-gap
  x-data="Header"
>
  <div class="header--wrapper">
    <a
      class="header--logo"
      x-bind:class="isMenuOpen && 'is-open'"
      href="/"
      >{{ (resources.Get "img/logo.svg").Content | strings.TrimSpace | safeHTML }}</a
    >
    <div class="header--menu" x-bind:class="isMenuOpen && 'is-open'">
      <div class="header--menu-inner">
        <div class="header--menu-items">
          {{- range site.Menus.main }}
          <a
            class="
              {{- "header--menu-item" }}
              {{- if eq $.context.RelPermalink .URL }} is-active{{ end -}}
            "
            href="{{ .URL }}"
            >{{ .Name }}</a
          >
          {{- end }}
        </div>
        <div class="header--button-wrapper">
        {{- if .TalkToUsAbsolute }}
          <a class="header--button" href="/contact/#talk">
        {{- else }}
          <a class="header--button" href="#talk" x-on:click.prevent="talkToUs">
        {{- end }}
            {{ (resources.Get "img/ico-talk.svg").Content | strings.TrimSpace | safeHTML }}
            Talk to us
          </a>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="header--burger"
      x-bind:class="isMenuOpen && 'is-open'"
      x-on:click="toggleMenu"
      aria-label="Menu"
    >
      <span></span>
    </button>
  </div>
</div>

<script type="module">
  import Alpine from "alpinejs";
  import scrollLock from 'scroll-lock';

  import talkToUs from '/js/talk-to-us.js';

  const mediaLg = '(min-width: 992px)';

  document.addEventListener('alpine:init', () => {
    Alpine.data('Header', () => ({
      isMenuOpen: false,

      init() {
        this.handleWidthChange = this.handleWidthChange.bind(this);
        this.checkMediaLg = window.matchMedia(mediaLg);
        this.checkMediaLg.addEventListener('change', this.handleWidthChange);
      },

      destroy() {
        this.checkMediaLg.removeEventListener('change', this.handleWidthChange);
      },

      handleWidthChange(e) {
        if (e.matches) this.closeMenu();
      },

      closeMenu() {
        this.isMenuOpen = false;
        scrollLock.enablePageScroll();
      },

      openMenu() {
        this.isMenuOpen = true;
        scrollLock.disablePageScroll();
      },

      toggleMenu() {
        (this.isMenuOpen) ? this.closeMenu() : this.openMenu();
      },

      talkToUs() {
        this.closeMenu();
        talkToUs();
      },
    }));
  });
</script>
