{{- $webp := false }}
{{- $preview := false }}
{{- $previewWebp := false }}
{{- $width := .Width }}
{{- if ne .Img.MediaType.SubType "svg" }}
  {{- $webp = .Img.Process "webp" }}
  {{- if gt .Img.Width $width }}
    {{- $preview = .Img.Resize (printf "%dx" $width) }}
    {{- $previewWebp = $preview.Process "webp" }}
  {{- end }}
{{- end }}
{{ $imgTag := printf "<img width=\"%d\"" $width }}
{{- with .Class }}
  {{- $imgTag = printf "<img width=\"%d\" class=\"%s\"" $width . }}
{{- end }}
{{- $imgTag = $imgTag | safeHTML }}
{{- if $webp }}
  <picture>
  {{- if $preview }}
    <source srcset="{{ $previewWebp.RelPermalink }}, {{ $webp.RelPermalink }} 2x" type="image/webp">
    {{ $imgTag }} src="{{ $preview.RelPermalink }}" srcset="{{ .Img.RelPermalink }} 2x" alt="{{ .Alt }}">
  {{- else }}
    <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
    {{ $imgTag }} src="{{ .Img.RelPermalink }}" alt="{{ .Alt }}">
  {{- end }}
  </picture>
{{- else }}
  {{ $imgTag }} src="{{ .Img.RelPermalink }}" alt="{{ .Alt }}">
{{- end }}
