{{- $popup := false -}}
{{- if isset . "Popup" -}}
  {{- $popup = .Popup -}}
{{- end -}}
<div class="youtube-preview">
  <a
    href="https://www.youtube.com/watch?v={{ .Id }}"
    class="youtube-preview--link"
    data-youtube-id="{{ .Id }}"
    data-youtube-popup="{{ $popup }}"
    data-youtube-title="{{ .Title | default "YouTube video" }}"
    aria-label="Play{{ with .Title }} {{ . }}{{ end }} on YouTube"
  >
    <div class="youtube-preview--cover">
      <picture>
        <source
          media="(min-width: 576px)"
          srcset="https://img.youtube.com/vi/{{ .Id }}/maxresdefault.jpg"
        >
        <img
          src="https://img.youtube.com/vi/{{ .Id }}/hqdefault.jpg"
          alt="{{ .Title | default "YouTube video thumbnail" }}"
        >
      </picture>
      <span class="youtube-preview--play" aria-hidden="true"></span>
    </div>
  </a>
  {{ if .ShowTitle }}
    <p class="youtube-preview--title">{{- .Title -}}</p>
  {{ end }}
</div>
