<a
  href="https://www.youtube.com/watch?v={{ .Id }}"
  class="youtube-preview"
  data-pswp-youtube-id="{{ .Id }}"
>
  <div class="youtube-preview--cover">
    <picture>
      <source
        media="(min-width: 576px)"
        srcset="https://img.youtube.com/vi/{{ .Id }}/maxresdefault.jpg"
      >
      <img
        src="https://img.youtube.com/vi/{{ .Id }}/hqdefault.jpg"
        alt="{{ .Title }}"
      >
    </picture>
  </div>
  {{ if .ShowTitle }}
    <p class="youtube-preview--title">{{- .Title -}}</p>
  {{ end }}
</a>
