{{- define "main" }}
  <div class="solutions-new">
    <div class="solutions-new--head">
      <div class="container">
        <div class="solutions-new--head-caption">
          {{- .Params.caption -}}
        </div>
        <h1 class="solutions-new--head-title">
          {{- .Params.h1 -}}
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="solutions-new--list">
        <div class="solutions-new--item">
          <div class="solutions-new--item-num">01 /</div>
          <div class="solutions-new--item-body">
            {{- (.GetPage "launch-faster").Content }}
            <div class="solutions-new--cta">
              <a class="btn btn-outline-violet btn-small" href="#talk">
                Book a free consultation
              </a>
            </div>
          </div>
        </div>
        <div class="solutions-new--item">
          <div class="solutions-new--item-num">02 /</div>
          <div class="solutions-new--item-body">
            {{- (.GetPage "portable-learning-content").Content }}
          </div>
        </div>
        <div class="solutions-new--item">
          <div class="solutions-new--item-num">03 /</div>
          <div class="solutions-new--item-body">
            {{- (.GetPage "reach-platform").Content }}
            <div class="solutions-new--cta">
              <a class="btn btn-outline-violet btn-small" href="#talk">
                Book a free consultation
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end }}
