{{- define "main" }}
  <div class="solutions">
    <div class="solutions--head">
      <div class="container">
        <div class="solutions--head-caption">
          {{- .Params.caption -}}
        </div>
        <h1 class="solutions--head-title">
          {{- .Params.h1 -}}
        </h1>
      </div>
    </div>
    <div class="container">
      {{ with .GetPage "testimonial" }}
        <div class="solutions--testimonial">
          {{ partial "author-card.html" (dict
            "Page" .Parent
            "Image" .Params.avatar
            "Name" .Title
            "Position" .Params.position
            "Linkedin" .Params.linkedin
          ) }}
          <div class="solutions--testimonial-body">
            {{ .Content }}
          </div>
        </div>
      {{ end }}
      <div class="solutions--list">
        <div class="solutions--item">
          <div class="solutions--item-num">01 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "fast-development").Content }}
          </div>
        </div>
        <div class="solutions--item">
          <div class="solutions--item-num">02 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "scale").Content }}
          </div>
        </div>
        <div class="solutions--item">
          <div class="solutions--item-num">03 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "deep-collaboration").Content }}
            <a
              class="btn btn-outline-violet btn-small solutions--cta"
              href="#talk"
            >
              Book a quick project review
            </a>
          </div>
        </div>
        {{ with .GetPage "fractional-cto" }}
          <div class="solutions--cto">
            <div class="solutions--cto-num">04 /</div>
            {{ partial "heading.html" (dict "Level" 3 "Text" .Title) }}
            <img
              class="solutions--cto-image"
              src="{{ ($.Resources.Get .Params.image).RelPermalink }}"
              alt="{{- .Params.name -}}"
            />
            <div class="solutions--cto-body">
              {{- .Content -}}
              <a
                class="btn btn-outline-violet btn-small solutions--cta"
                href="#talk"
              >
                Book a free consultation
              </a>
            </div>
          </div>
        {{ end }}
        <div class="solutions--item">
          <div class="solutions--item-num">05 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "investor-partnerships").Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end }}
