{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
  ) }}
{{- end }}
{{- define "main" }}
  <div class="solutions">

    <div class="container solutions--head">
      <div class="solutions--head-body">
        <div class="solutions--head-caption">{{- .Params.caption -}}</div>
        <h1 class="solutions--head-title">{{- .Params.h1 -}}</h1>
      </div>
      {{ with .Resources.Get "img/head-image.svg" }}
        <div class="solutions--head-img">
          <img src="{{ .RelPermalink }}" alt="{{- .Params.caption -}}" />
        </div>
      {{ end }}
    </div>

    {{ with .GetPage "testimonial" }}
      <div class="container solutions--intro">
        <div class="solutions--intro-body is-testimonial">
          {{ .Content }}
        </div>
        {{ partial "author-card.html" (dict
          "Page" .Parent
          "Image" .Params.avatar
          "Name" .Title
          "Position" .Params.position
          "LinkedIn" .Params.linkedin
        ) }}
      </div>
    {{ end }}

    <div class="container">
      <div class="solutions--list">
        <div class="solutions--item">
          <div class="solutions--item-num">01 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "fast-development").Content }}
          </div>
        </div>
        <div class="solutions--item">
          <div class="solutions--item-num">02 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "scale").Content }}
          </div>
        </div>
        <div class="solutions--item">
          <div class="solutions--item-num">03 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "deep-collaboration").Content }}
            <a
              class="btn btn-outline-violet btn-small solutions--cta"
              href="#talk"
            >
              Book a Quick Project Review
            </a>
          </div>
        </div>

        <div class="solutions--item">
          <div class="solutions--item-num">04 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "fractional-cto").Content }}
          </div>
        </div>

        <div class="solutions--item">
          <div class="solutions--item-num">05 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "investor-partnerships").Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end }}
