{{- define "main" }}
  <div class="solutions--head">
    <div class="solutions--head-wrapper">
      <div class="container">
        <h1 class="solutions--head-title">Solutions</h1>
        <div class="solutions--anchors">
        {{- range sort (where .Pages "Params.category" "solutions") "File.Path" }}
          <div>
            <a
              class="solutions--anchors-item"
              href="{{ $.RelPermalink}}#{{ .Slug }}"
              x-data
              x-on:click.prevent="
                document
                  .getElementById('{{ .Slug }}')
                  .scrollIntoView({ behavior: 'smooth' })
              "
              >{{ .Title }}</a
            >
          </div>
        {{- end }}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="solutions--tagline">
      {{ .Content }}
    </div>

    <div class="solutions--list">
    {{- range sort (where .Pages "Params.category" "solutions") "File.Path" }}
      <div class="solutions--item">
        <div class="solutions--item-body">
          <h3 class="solutions--item-title" id="{{ .Slug }}">{{ .Title }}</h3>
          <div class="solutions--item-text">
            {{ .Content }}
          </div>
        </div>
        <img
          class="solutions--item-image"
          src="{{ $.Resources.Get .Params.image }}"
          alt="{{ .Title }}"
        />
      </div>
    {{- end }}
    </div>
  </div>
{{- end }}
