{{- define "main" }}
  <div class="solutions">
    <div class="solutions--head">
      <div class="container">
        <div class="solutions--head-caption">
          {{- .Params.caption -}}
        </div>
        <h1 class="solutions--head-title">
          {{- .Params.h1 -}}
        </h1>
      </div>
    </div>
    <div class="container">
      {{ with .GetPage "testimonial" }}
        <div class="solutions--testimonial">
          {{ partial "author-card.html" (dict
            "Page" .Parent
            "Image" .Params.avatar
            "Name" .Title
            "Position" .Params.position
            "Linkedin" .Params.linkedin
          ) }}
          <div class="solutions--testimonial-body">
            {{ .Content }}
          </div>
        </div>
      {{ end }}
      <div class="solutions--list">
        <div class="solutions--item">
          <div class="solutions--item-num">01 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "fast-content-delivery").Content }}
            <a
              class="btn btn-outline-violet btn-small solutions--cta"
              href="#talk"
            >
              Schedule a free website audit
            </a>
          </div>
        </div>
        <div class="solutions--item">
          <div class="solutions--item-num">02 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "handle-traffic-peaks").Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end }}
