{{- define "main" }}
  <div class="solutions">
    <div class="solutions--head">
      <div class="container">
        <div class="solutions--head-caption">
          {{- .Params.caption -}}
        </div>
        <h1 class="solutions--head-title">
          {{- .Params.h1 -}}
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="solutions--list">
        <div class="solutions--item">
          <div class="solutions--item-num">01 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "meet-regulation-standards").Content }}
            <a
              class="btn btn-outline-violet btn-small solutions--cta"
              href="#talk"
            >
              Book a free consultation
            </a>
          </div>
        </div>
        <div class="solutions--item">
          <div class="solutions--item-num">02 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "reliability-and-scale").Content }}
          </div>
        </div>
        <div class="solutions--item">
          <div class="solutions--item-num">03 /</div>
          <div class="solutions--item-body">
            {{- (.GetPage "use-ai").Content }}
            <a
              class="btn btn-outline-violet btn-small solutions--cta"
              href="#talk"
            >
              Book a free consultation
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{- end }}
