{{- define "main" }}
  <div class="solutions-new">
    <div class="solutions-new--head">
      <div class="container">
        <div class="solutions-new--head-caption">
          {{- .Params.caption -}}
        </div>
        <h1 class="solutions-new--head-title">
          {{- .Params.h1 -}}
        </h1>
      </div>
    </div>

    <div class="container">

      <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
      <script src="https://assets.calendly.com/assets/external/widget.js" async></script>
      <div class="solutions-new--list">

        <div class="solutions-new--item no-line">
          <div class="solutions-new--item-num">01 /</div>
          <div class="solutions-new--item-body">
            {{- (.GetPage "meet-regulation-standards").Content }}
            <div class="solutions-new--consultation">
              <a
                class="btn btn-outline-violet btn-small"
                href="https://calendly.com/ivelum/consultation"
                onclick="Calendly.initPopupWidget({
                  url: 'https://calendly.com/ivelum/consultation?hide_gdpr_banner=1&hide_event_type_details=1'
                });return false;"
              >
                Book a free consultation
              </a>
            </div>
          </div>
        </div>

        <div class="solutions-new--item">
          <div class="solutions-new--item-num">02 /</div>
          <div class="solutions-new--item-body">
            {{- (.GetPage "reliability-and-scale").Content }}
          </div>
        </div>

        <div class="solutions-new--item">
          <div class="solutions-new--item-num">03 /</div>
          <div class="solutions-new--item-body">
            {{- (.GetPage "use-ai").Content }}
            <div class="solutions-new--consultation">
              <a
                class="btn btn-outline-violet btn-small"
                href="https://calendly.com/ivelum/consultation"
                onclick="Calendly.initPopupWidget({
                  url: 'https://calendly.com/ivelum/consultation?hide_gdpr_banner=1&hide_event_type_details=1'
                });return false;"
              >
                Book a free consultation
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{{- end }}
