{{- define "structured-data" }}
  {{ partial "structured-data/breadcrumbs.html" . }}
  {{ partial "structured-data/home.html" . }}
{{- end }}

{{- define "styles" }}
  {{- partial "styles.html" "home" }}
  {{- with .Resources.Get "img/hero-video-cover.png" }}
  <link rel="preload" as="image" href="{{ .RelPermalink }}" fetchpriority="high">
  {{- end }}
{{- end }}

{{- define "main" }}
  <div class="home">
  <main class="home--hero">
    <div class="home--hero-body">
      <div class="home--hero-tagline">Since 2003</div>
      <h1>
        Let's build<br/>great things together
      </h1>
    </div>
    <div class="home--hero-footer">
      <a href="#talk" class="btn btn-big btn-with-arrow home--hero-cta">
        Get in touch
        {{(resources.Get "img/arrow-button.svg").Content | strings.TrimSpace | safeHTML}}
      </a>
      <div class="home--hero-loved">
        <div class="home--hero-loved-avatars">
          {{ partial "image.html" (dict
               "Img" (.Resources.Get "img/avatars/alex-ford.png")
               "Alt" "Alex Ford"
               "Width" 40
             ) }}
          {{ partial "image.html" (dict
               "Img" (.Resources.Get "img/avatars/zach-levine.jpeg")
               "Alt" "Zach Levine"
               "Width" 40
             ) }}
          {{ partial "image.html" (dict
               "Img" (.Resources.Get "img/avatars/justin-demaris.png")
               "Alt" "Justin Demaris"
               "Width" 40
             ) }}
        </div>
        <div class="home--hero-loved-text">
          Loved by 50+<br/>Founders
        </div>
      </div>
      <div class="home--hero-clutch">
        {{ partial "image.html" (dict
             "Img" ($.Resources.Get "img/logo-clutch.svg")
             "Alt" "Clutch"
             "Width" 35
           ) }}
        <div class="home--hero-clutch-text">
          {{ partial "image.html" (dict
             "Img" ($.Resources.Get "img/clutch-stars.svg")
             "Alt" "Clutch Review Rating"
             "Width" 88
           ) }}
          5.0 Review Rating
        </div>
      </div>
    </div>
    <video
      class="home--hero-video"
      poster='{{ (.Resources.Get "img/hero-video-cover.png").RelPermalink }}'
      width="100%"
      autoPlay
      loop
      muted
      preload="auto"
      playsInline
      id="hero-video"
    >
      <source type="video/webm" src='{{(.Resources.Get "img/hero-video.webm").RelPermalink}}' />
      <source type="video/mp4" src='{{(.Resources.Get "img/hero-video.mp4").RelPermalink}}' />
      <img
        class="home--hero-video"
        src='{{ (.Resources.Get "img/hero-video-cover.png").RelPermalink }}'
        alt="Experts in software development"
      />
    </video>
  </main>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "Hire us if you need to..."
    ) }}
    <div class="home--hire-us">
      <div class="home--hire-us-list">
        {{- (.GetPage "hire-us-list").Content }}
      </div>
      <div class="home--hire-us-book">
        {{- (.GetPage "hire-us-book").Content }}
        {{ partial "author-card.html" (dict
          "Avatar" (resources.Get "img/avatars/denis-stebunov.png")
          "Name" "Denis Stebunov"
          "Position" "CTO at ivelum"
        ) }}
        <a href="#talk" class="btn btn-small btn-outline-violet">
          Book a free consultation
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "Who we help"
    ) }}
    <div class="home--who-we-help">
    {{- range sort (where .Pages "Params.category" "who-we-help") "File.Path" }}
      <div class="home--who-we-help-item">
        {{ partial "image.html" (dict
             "Img" ($.Resources.Get .Params.image)
             "Class" "home--who-we-help-image"
             "Alt" .Title
             "Width" 140
           ) }}
        <div class="home--who-we-help-body">
          <a href="{{ .Params.link }}" class="home--who-we-help-title">
            {{ .Title }}
          </a>
          <div class="home--who-we-help-text">
            {{ .Content }}
          </div>
        </div>
      </div>
    {{- end }}
    </div>
  </div>

  <div class="container home--action with-border">
    <div class="home--action-text">
      {{- (.GetPage "call-to-action").Content }}
    </div>
    <a class="btn btn-big btn-with-arrow" href="#talk">
      Get in touch
      {{(resources.Get "img/arrow-button.svg").Content | strings.TrimSpace | safeHTML}}
    </a>
  </div>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "Why ivelum"
    ) }}
    <div class="home--why-ivelum">
    {{- range sort (where .Pages "Params.category" "why-ivelum") "File.Path" }}
      <div class="home--why-ivelum-item">
        <div class="home--why-ivelum-title">
          {{ partial "image.html" (dict
               "Img" ($.Resources.Get .Params.image)
               "Alt" .Title
               "Width" 48
             ) }}
          {{ .Title }}
        </div>
        <div class="home--why-ivelum-text">
          {{ .Content }}
        </div>
        {{- with .Params.link }}
          <a class="home--why-ivelum-link" href="{{ . }}">
            Free for all our clients
          </a>
        {{- end }}
      </div>
    {{- end }}
    </div>
  </div>

  {{ $page := .GetPage "full-work-transparency" }}
  {{ with $page }}
    <div class="container">
      <div class="home--teamplify">
        <div class="home--teamplify-body">
          <div class="home--teamplify-title">{{ .Title }}</div>
          <div class="home--teamplify-text">{{ .Content }}</div>
          <a
            href="{{ .Params.link }}"
            target="_blank"
            rel="noopener noreferrer"
            class="home--teamplify-link"
          >
            Teamplify
          </a>
        </div>
        {{ partial "youtube-preview" (dict
          "Id" "0Xq_-akvEHM"
          "Popup" true
        ) }}
      </div>
    </div>
  {{ end }}

  <div class="container home--action">
    <a class="btn btn-big btn-with-arrow" href="#talk">
      Get in touch
      {{(resources.Get "img/arrow-button.svg").Content | strings.TrimSpace | safeHTML}}
    </a>
  </div>

  <div class="container">
    {{ partial "shared/youtube-latest.html" (dict
      "Title" "Learn more about our approach"
    ) }}
  </div>

  <div class="container">
    {{- (site.GetPage "/services/web-and-mobile-development/5-reviews").Content }}
  </div>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "Technologies"
    ) }}
    <div class="home--technologies">
      {{ partial "shared/technology-stack.html" . }}
    </div>
  </div>
  </div>
{{- end }}
