{{- define "main" }}
  <div class="home--hero">
    <div class="home--hero-body">
      <div class="home--hero-tagline">Since 2003</div>
      <h1 class="home--hero-title">
        Let's build<br/>great things together
      </h1>
    </div>
    <div class="home--hero-footer">
      <a href="#talk" class="btn btn-big btn-with-arrow home--hero-cta">
        Get in touch
        {{(resources.Get "img/arrow-button.svg").Content | strings.TrimSpace | safeHTML}}
      </a>
      <div class="home--hero-loved">
        <div class="home--hero-loved-avatars">
          <img
            src='{{ (.Resources.Get "img/avatars/alex-ford.png").RelPermalink }}'
            alt="Alex Ford"
          />
          <img
            src='{{ (.Resources.Get "img/avatars/zach-levine.jpeg").RelPermalink }}'
            alt="Zach Levine"
          />
          <img
            src='{{ (.Resources.Get "img/avatars/justin-demaris.png").RelPermalink }}'
            alt="Justin Demaris"
          />
        </div>
        <div class="home--hero-loved-text">
          Loved by 50+<br/>Founders
        </div>
      </div>
      <div class="home--hero-clutch">
        <img
          src='{{ ($.Resources.Get "img/logo-clutch.svg").RelPermalink }}'
          alt="Clutch"
        />
        <div class="home--hero-clutch-text">
          <img
            src='{{ ($.Resources.Get "img/clutch-stars.svg").RelPermalink }}'
            alt="Clutch Review Rating"
          />
          5.0 Review Rating
        </div>
      </div>
    </div>
    <video
      class="home--hero-video"
      poster='{{ (.Resources.Get "img/hero-video-cover.png").RelPermalink }}'
      width="100%"
      autoPlay
      loop
      muted
      preload="auto"
      playsInline
      id="hero-video"
    >
      <source type="video/webm" src='{{(.Resources.Get "img/hero-video.webm").RelPermalink}}' />
      <source type="video/mp4" src='{{(.Resources.Get "img/hero-video.mp4").RelPermalink}}' />
      <img
        class="home--hero-video"
        src='{{ (.Resources.Get "img/hero-video-cover.png").RelPermalink }}'
        alt="Experts in software development"
      />
    </video>
  </div>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "Hire us if you need to..."
      "Class" "home--title"
    ) }}
    <div class="home--hire-us">
      <div class="home--hire-us-list">
        {{- (.GetPage "hire-us-list").Content }}
      </div>
      <div class="home--hire-us-book">
        {{- (.GetPage "hire-us-book").Content }}
        {{ partial "author-card.html" (dict
          "Page" .
          "Image" "img/avatars/denis-stebunov.png"
          "Name" "Denis Stebunov"
          "Position" "CTO at ivelum"
        ) }}
        <a href="#talk" class="btn btn-small btn-outline-violet">
          Book a free consultation
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "Who we help"
      "Class" "home--title"
    ) }}
    <div class="home--who-we-help">
    {{- range sort (where .Pages "Params.category" "who-we-help") "File.Path" }}
      <div class="home--who-we-help-item">
        <img
          class="home--who-we-help-image"
          src="{{ ($.Resources.Get .Params.image).RelPermalink }}"
          alt="{{ .Title }}"
        />
        <div class="home--who-we-help-body">
          <a href="{{ .Params.link }}" class="home--who-we-help-title">
            {{ .Title }}
          </a>
          <div class="home--who-we-help-text">
            {{ .Content }}
          </div>
        </div>
      </div>
    {{- end }}
    </div>
  </div>

  <div class="container home--action with-border">
    <div class="home--action-text">
      {{- (.GetPage "call-to-action").Content }}
    </div>
    <a class="btn btn-big btn-with-arrow" href="#talk">
      Get in touch
      {{(resources.Get "img/arrow-button.svg").Content | strings.TrimSpace | safeHTML}}
    </a>
  </div>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "Why ivelum"
      "Class" "home--title"
    ) }}
    <div class="home--why-ivelum">
    {{- range sort (where .Pages "Params.category" "why-ivelum") "File.Path" }}
      <div class="home--why-ivelum-item">
        <div class="home--why-ivelum-title">
          <img
            src="{{ ($.Resources.Get .Params.image).RelPermalink }}"
            alt="{{ .Title }}"
          />
          {{ .Title }}
        </div>
        <div class="home--why-ivelum-text">
          {{ .Content }}
        </div>
      </div>
    {{- end }}
    </div>
  </div>

  {{ $page := .GetPage "full-work-transparency" }}
  {{ with $page }}
    <div class="container">
      <div class="home--teamplify">
        <div class="home--teamplify-body">
          <div class="home--teamplify-title">{{ .Title }}</div>
          <div class="home--teamplify-text">{{ .Content }}</div>
        </div>
        <div class="home--teamplify-image">
          <div class="home--teamplify-badge">Free</div>
          <img src="{{ $.Resources.Get .Params.image }}" alt="{{ .Title }}" />
          <a
            href="{{ .Params.link }}"
            target="_blank"
            rel="noopener noreferrer"
            class="home--teamplify-link"
          >
            Learn more
          </a>
        </div>
      </div>
    </div>
  {{ end }}

  <div class="container home--action">
    <a class="btn btn-big btn-with-arrow" href="#talk">
      Get in touch
      {{(resources.Get "img/arrow-button.svg").Content | strings.TrimSpace | safeHTML}}
    </a>
  </div>

  <div class="container">
    {{ partial "shared/youtube-latest.html" (dict
      "Title" "Learn more about our approach"
      "TitleClass" "home--title"
    ) }}
  </div>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "What our clients say"
      "Class" "home--title"
    ) }}
    <div class="home--testimonials-wrapper">
    {{- range sort (where .Pages "Params.category" "testimonials") "File.Path" }}
      <div class="home--testimonials-item">
        {{ partial "author-card.html" (dict
          "Page" .
          "Image" .Params.avatar
          "Name" .Title
          "Position" .Params.position
          "Linkedin" .Params.linkedin
        ) }}
        <div class="home--testimonials-body">
          {{ .Content }}
        </div>
      </div>
    {{- end }}
      <div class="home--testimonials-item home--testimonials-item--clutch">
        <a
          class="home--clutch-winner"
          href="https://clutch.co/profile/ivelum#portfolio-and-awards"
          target="_blank"
        >
          <img
            src='{{ (.Resources.Get "img/clutch-spring-champion-2024.svg").RelPermalink }}'
            alt="Clutch Champion Spring 2024"
          />
        </a>
        <div class="home--clutch-reviews">
          <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
          <div
            class="clutch-widget home--clutch-widget"
            data-url="https://widget.clutch.co"
            data-widget-type="14"
            data-height="50"
            data-nofollow="true"
            data-expandifr="true"
            data-scale="100"
            data-clutchcompany-id="2181885">
          </div>
          <div class="home--clutch-link">
            <a href="https://clutch.co/profile/ivelum#reviews" target="_blank">
              Read more verified reviews on Clutch
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {{ partial "heading.html" (dict
      "Level" 2
      "Text" "Technologies"
      "Class" "home--title"
    ) }}
    <div class="home--technologies">
      {{ partial "shared/technology-stack.html" . }}
    </div>
  </div>
{{- end }}
