{{ define "main" }}
  <div class="contact--page">
    <div class="container">
      <h1 class="contact--title">Contact</h1>

      <div class="contact--address-wrapper">
        {{- range sort (where .Pages "Params.category" "address") "File.Path" }}
        <div class="contact--address-item">
          <h3 class="contact--address-title">{{ .Title }}</h3>
          {{ .Content }}
        </div>
        {{- end }}
      </div>

      <div class="contact--wrapper">
        <div class="contact--inner">
          <div class="contact--method-title">
            <img
              src="{{ (.Resources.Get "img/live-chat.svg").RelPermalink }}"
              alt="Live chat"
            />
            Live chat
          </div>
          <p>
            We're online from 10 AM to 8 PM, EET<br />
            <span
              class="contact--chatbox-status is-online"
              >Currently online</span
            >
            {{- /* TODO: Show the local time and the status */}}
          </p>
          <button class="btn btn-outline-violet btn-small" type="button">
            Chat now
          </button>
          {{- /* TODO: Implement the chat */}}
        </div>
        <div class="contact--inner">
          <div class="contact--method-title">
            <img
              src="{{
                (.Resources.Get "img/free-consultation.svg").RelPermalink
              }}"
              alt="30-min free consultation"
            />
            30-min free consultation
          </div>
          <p>
            Tell us about your project! Together, we'll brainstorm the optimal
            approach and how we can help.
          </p>
          <a class="btn btn-outline-violet btn-small" href="/consultation/">
            Schedule
          </a>
        </div>
      </div>

      <div class="contact--team-wrapper">
        <div class="contact--team-text">
          <img
            src="{{ (.Resources.Get "img/globe.svg").RelPermalink }}"
            alt="Our team is distributed across 12 countries"
            class="contact--team-ico"
          />
          {{- .Content -}}
        </div>
        <ul class="contact--team-flags">
        {{- range .Resources.Match "img/flags/*.svg" }}
          {{- $country := path.BaseName .Name }}
          <li class="contact--team-flag">
            <img
              src="{{ .RelPermalink }}"
              width="20"
              height="20"
              alt="{{ $country }}"
            /> {{ $country }}
          </li>
        {{- end }}
        </ul>
      </div>
    </div>
  </div>
{{- end }}
