{{- define "header" }}
  {{ partial "header.html" (dict
    "RelPermalink" .RelPermalink
    "LightHeader" true
    "TalkToUsAbsolute" false
    ) }}
{{- end }}

{{- define "main" }}
  <div class="page contact">
    <div class="container">
      <h1 class="contact--title">Contact</h1>

      <div class="contact--address-wrapper">
        {{- range sort (where .Pages "Params.category" "address") "File.Path" }}
        <div class="contact--address-item">
          <h3 class="contact--address-title">{{ .Title }}</h3>
          {{ .Content }}
        </div>
        {{- end }}
      </div>

      <div class="contact--wrapper">
        <div class="contact--inner">
          <div class="contact--method-title">
            <img
              src="{{ (.Resources.Get "img/live-chat.svg").RelPermalink }}"
              alt="Live chat"
            />
            Live chat
          </div>
          <div>
            We're online from 10 AM to 8 PM, EET<br />
            <span x-data="ChatStatus">
              <span x-text="localTime()"></span><br />
              <span
                class="contact--chatbox-status"
                x-bind:class="isOnline() ? 'is-online' : 'is-offline'"
                x-text="currentStatus()"
              ></span>
            </span>
          </div>
          <button
            class="contact--chatbox-button btn btn-outline-violet btn-small"
            type="button"
            x-data="ChatButton"
            x-on:click="openChat"
            x-bind:disabled="loading"
          >
            <span x-bind:style="{ opacity: Number(!loading) }">Chat now</span>
            <template x-if="loading">
              <span class="contact--chatbox-loading">{{
                ($.Resources.Get "img/loading.svg").Content
                | strings.TrimSpace
                | safeHTML
              }}</span>
            </template>
          </button>
        </div>
        <div class="contact--inner">
          <div class="contact--method-title">
            <img
              src="{{
                (.Resources.Get "img/free-consultation.svg").RelPermalink
              }}"
              alt="30-min free consultation"
            />
            30-min free consultation
          </div>
          <div>
            Tell us about your project! Together, we'll brainstorm the&nbsp;optimal
            approach and how we can help.
          </div>

          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <a
            class="btn btn-outline-violet btn-small"
            href="https://calendly.com/ivelum/consultation"
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ivelum/consultation?hide_gdpr_banner=1&hide_event_type_details=1'});return false;"
          >
            Schedule
          </a>

        </div>
      </div>
      {{ partial "shared/distributed-team.html" . }}
    </div>
  </div>

  <script type="module">
    import Alpine from 'alpinejs';

    const timeoutAfter = 15000;
    const timeoutError = new Error('Crisp timed out');

    document.addEventListener('alpine:init', () => {
      Alpine.data('ChatButton', () => ({
        loading: false,

        async openChat() {
          this.loading = true;
          const chatInitialized = initChat();
          window.$crisp.push(['do', 'chat:show']);
          window.$crisp.push(['do', 'chat:open']);
          try {
            await chatInitialized;
          } catch (e) {
            if (e === timeoutError) return;
            throw e;
          } finally {
            this.loading = false;
          }
        },
      }));
    });

    function initChat() {
      return new Promise((resolve, reject) => {
        if (window.CRISP_WEBSITE_ID) {
          resolve();
          return;
        }

        window.$crisp = [];
        window.$crisp.push(['safe', true]);
        // Sentry instruments methods document.addEventListener() and
        // document.removeEventListener(), and Crisp complains about it. Disable
        // the warnings.
        $crisp.push(['on', 'session:loaded', () => {
          clearTimeout(timeoutID);
          resolve();
        }]);
        const timeoutID = setTimeout(() => {
          reject(timeoutError);
        }, timeoutAfter);
        window.CRISP_WEBSITE_ID = '2aa7bcb2-8094-4624-b64e-112c2ca3a174';

        const script = document.createElement('script');
        script.src = 'https://client.crisp.chat/l.js';
        script.async = 1;
        document.getElementsByTagName('head')[0].appendChild(script);
      });
    }

    document.addEventListener('alpine:init', () => {
      Alpine.data('ChatStatus', () => {
        const startWorkHour = 10; // Start of working hours in Vilnius
        const endWorkHour = 20; // End of working hours in Vilnius

        const date = new Date();
        const utcDate = new Date(
          date.toLocaleString('en-US', { timeZone: 'UTC' }),
        );
        const vilDate = new Date(
          date.toLocaleString('en-US', { timeZone: 'Europe/Vilnius' }),
        );
        const vilOffset = (vilDate.getTime() - utcDate.getTime()) / 3600000;
        const localOffset = -new Date().getTimezoneOffset() / 60;

        const formatHours = (hourString) => {
          const hour = +hourString % 24;
          return (hour % 12 || 12) + (hour < 12 ? ' AM' : ' PM');
        };

        const getLocalDate = (hour) => {
          const dt = new Date();
          dt.setUTCHours(hour - vilOffset);
          dt.setMinutes(0);
          return new Date(dt.toLocaleString('en-US')).toString();
        };

        const localStart = getLocalDate(startWorkHour);
        const localEnd = getLocalDate(endWorkHour);

        const localTime = () => {
          if (vilOffset === localOffset) return 'matches your time zone';
          const start = formatHours(new Date(localStart).getHours());
          const end = formatHours(new Date(localEnd).getHours());
          return `(${start} – ${end} your time zone)`;
        };

        const isOnline = () => {
          const current = new Date();
          const start = new Date(localStart);
          const end = new Date(localEnd);
          return (start <= current && current < end);
        };

        const currentStatus = () => {
          return `Currently ${isOnline() ? 'online' : 'offline'}`;
        }

        return { localTime, isOnline, currentStatus };
      });
    });
  </script>
{{- end }}
