{{- $defaultImg := or
  (.Page.Resources.Get (.Get "src"))
  (.Page.CurrentSection.Resources.Get (.Get "src"))
  (resources.Get (.Get "src"))
}}
{{- $breakpoints := slice
  (dict "name" "sm" "width" "576px")
  (dict "name" "md" "width" "768px")
  (dict "name" "lg" "width" "992px")
  (dict "name" "xl" "width" "1200px")
}}
<picture>
  {{- range $breakpoints }}
    {{- $dest := ($.Get (printf "src-%s" .name)) }}
    {{- if not $dest }}{{ continue }}{{ end }}
    {{- $img := or
      ($.Page.Resources.Get $dest)
      ($.Page.CurrentSection.Resources.Get $dest)
      (resources.Get $dest)
    }}
    <source media="(min-width: {{ .width }})" srcset="{{ $img.RelPermalink }}" />
  {{- end }}
  <img
    src="{{ $defaultImg.RelPermalink }}"
    {{- with .Get "alt" }} alt="{{ . }}"{{ end }}
    {{- with .Get "class" }} class="{{ . }}"{{ end }}
  />
</picture>
