{{- $avatar := .Page.Resources.Get "img/denis-stebunov.png" -}}
<section class="fractional-cto--person">
  <div class="fractional-cto--avatar">
    {{- with $avatar }}
      {{- partial "image.html" (dict
        "Img" .
        "Alt" "Denis Stebunov"
        "Width" 120
      ) }}
    {{- end }}
  </div>
  <div class="fractional-cto--bio">
    <div class="fractional-cto--name">Denis Stebunov</div>
    <div class="fractional-cto--position">CTO at ivelum</div>
    {{- .Inner | markdownify }}
  </div>
  <div class="fractional-cto--action">
    <a class="btn btn-big" href="#talk">
      Book a free consultation
    </a>
  </div>
</section>
