{{- $src := .Params.src -}}
{{- $alt := .Params.alt -}}
{{- $width := .Params.width -}}
{{/* Optional: an alternative image for mobile screens */}}
{{- $mobileSrc := .Params.mobileSrc -}}
{{- $mobileWidth := .Params.mobileWidth -}}
{{- $mobileBreakpoint := .Params.mobileBreakpoint -}}

{{- $img := or
  (.Page.Resources.Get $src)
  (.Page.CurrentSection.Resources.Get $src)
  (resources.Get $src)
-}}

{{- $mobileImg := false -}}
{{- with $mobileSrc -}}
  {{- $mobileImg = or
    ($.Page.Resources.Get .)
    ($.Page.CurrentSection.Resources.Get .)
    (resources.Get .)
  -}}
{{- end -}}

{{- partial "image.html" (dict
  "Img" $img
  "Alt" $alt
  "Width" $width
  "MobileImg" $mobileImg
  "MobileWidth" $mobileWidth
  "MobileBreakpoint" $mobileBreakpoint
) -}}
