<ul class="industries--logo-list">
  {{- range (split .Inner "\n") }}
    {{- $line := trim . " \t\r" -}}
    {{- if ne $line "" -}}
      {{- $parts := split $line "|" -}}
      {{- $alt := trim (index $parts 0) " " -}}
      {{- $src := trim (index $parts 1) " " -}}
      {{- $width := 180 -}}
      {{- if ge (len $parts) 3 }}
        {{- $width = int (trim (index $parts 2) " ") -}}
      {{- end }}
      {{- $res := $.Page.CurrentSection.Resources.Get $src -}}
      <li>
        {{ partial "image.html" (dict
          "Img" $res
          "Alt" $alt
          "Width" $width
        ) }}
      </li>
    {{- end -}}
  {{- end }}
</ul>
