{{- $badge := .Page.CurrentSection.Resources.Get "img/clutch-spring-champion-2024.svg" -}}
<div class="testimonials--item testimonials--item--clutch">
  <a
    class="testimonials--clutch-winner"
    href="https://clutch.co/profile/ivelum#portfolio-and-awards"
    target="_blank"
  >
    <img
      alt="Clutch Champion Spring 2024"
      height="120"
      src="{{ $badge.RelPermalink }}"
      width="140"
    />
  </a>
  <div class="testimonials--clutch-reviews">
    <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
    <div
      class="clutch-widget testimonials--clutch-widget"
      data-url="https://widget.clutch.co"
      data-widget-type="14"
      data-height="50"
      data-nofollow="true"
      data-expandifr="true"
      data-scale="100"
      data-clutchcompany-id="2181885">
    </div>
    <div class="testimonials--clutch-link">
      <a href="https://clutch.co/profile/ivelum#reviews" target="_blank">
        Verified reviews on Clutch
      </a>
    </div>
  </div>
</div>
